
.detail-content-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 25px 40px;
    box-sizing: border-box;
}

.form-area-title {
    font-size: 26px;
    color: #0066b0;
    padding: 40px 12px 10px 12px;
}

.form-area {
    display: flex;
    flex-wrap: wrap;
}

.form-item {
    height: 50px;
    width: 560px;
    font-size: 14px;
    display: flex;
    align-items: center;
    background: #fff;
    padding-right: 20px;
    box-sizing: border-box;
}

.form-item-title-area {
    text-align: right;
    font-size: 14px;
    line-height: 40px;
    padding-right: 14px;
    width: 120px;
    color: #32373e;
}

.form-item-area {
    width: 560px;
    font-size: 14px;
    display: flex;
    /*align-items: center;*/
    background: #fff;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 7px 0;
    box-sizing: border-box;
    flex-shrink: 0;
}

.form-item-radio {
    width: 560px;
    font-size: 14px;
    display: flex;
    /*align-items: center;*/
    background: #fff;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 10px 0;
    box-sizing: border-box;
    flex-shrink: 0;
}

.radio-box {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    padding-top: 6px;
}

.radio-box1 {
    display: flex;
}

.form-item-img {
    height: 100px;
    width: 33%;
    color: #1a1a1a;
    font-size: 15px;
    display: flex;
    /*align-items: center;*/
    align-content: flex-start;
    box-sizing: border-box;
    /*border: 2px solid #dbdbdb;*/
    background: #fff;
    padding: 0 12px;
    /*margin: 14px 20px 0;*/
    /*margin: 0.2rem 0.2rem 0;*/
    border-radius: 4px;
    margin-bottom: 30px;

}

/* 鍘绘帀date涓笂涓嬪皬涓夎锛屼絾鏄繚鐣檌nput绫诲瀷涓簄umber鐨勫皬涓夎銆� */
input[type=date]::-webkit-inner-spin-button {
    display: hidden;
}

/*鎺у埗涓嬫媺灏忕澶寸殑*/
input[type="date"]::-webkit-calendar-picker-indicator {
    display: flex;
    width: 100%;
    height: 100%;
    right: 0px;
    position: absolute;
    border-right: 18px solid transparent;
    background: url(../image/footimg/down-arrow.png) no-repeat right;
    color: transparent;
}

.requied {

}

.requied:before {
    content: "*";
    color: red;
}

.form-item-title {
    line-height: 40px;
    text-align: right;
    font-size: 14px;
    padding-right: 14px;
    width: 120px;
    color: #32373e;
}

.form-item-title-img {
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: flex-end;
    line-height: 40px;
    color: #1a1a1a;
    font-size: 14px;
    margin-left: 20px;
}

.img-upload-box {
    margin-left: 20px;
    border: 1px solid #eaeaea;
    overflow: hidden;
    width: 150px;
    height: 100px;
    box-sizing: border-box;
}

.img-upload-box:hover {
    border: 1px solid #dee0ea;
}

.form-item-edit {
    width: 400px;
    height: 40px;
    border: 1px solid #e3e7ed;
}

input[type="radio"] {
    height: 0px;
    width: 0px;
    opacity: 0;
}

input[type="radio"] + label {
    /*background-color: pink;*/
    /*border: 1px solid #349EDF;*/
}

input[type="radio"] + label:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    background: url(../image/radio1.png) no-repeat 0px center;
    /*background-image: url('../image/close.png')*/
}

input[type="radio"]:checked + label:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    background: url(../image/radio.png) no-repeat 0px center;
}

input[type="date"] {
    width: 400px;
    font-size: 14px;
    height: 36px;
    color: #27334f;
    margin: 0;
    border: 1px solid #e3e7ed;
    background: none;
    position: relative;
    padding-left: 10px;
    padding-right: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    box-sizing: border-box;
}

input[type=date]::-webkit-inner-spin-button {
    visibility: hidden;
}

input[type="file"] {
    width: 400px;
    font-size: 14px;
    line-height: 24px;
    height: 36px;
    padding: 5px 4px;
    margin-left: 10px;
    color: #27334f;
    background: #fff;
    border: 1px solid #e3e7ed;
}

input[type="email"] {
    width: 400px;
    font-size: 14px;
    height: 36px;
    color: #27334f;
    margin: 0;
    border: 1px solid #e3e7ed;
    background: none;
    position: relative;
    padding-left: 10px;
    padding-right: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    box-sizing: border-box;
}

input[type="text"] {
    width: 400px;
    font-size: 14px;
    height: 36px;
    color: #27334f;
    margin: 0;
    border: 1px solid #e3e7ed;
    background: none;
    position: relative;
    padding-left: 10px;
    padding-right: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    box-sizing: border-box;
}

input[type="number"] {
    width: 400px;
    font-size: 14px;
    height: 36px;
    color: #27334f;
    margin: 0;
    border: 1px solid #e3e7ed;
    background: none;
    position: relative;
    padding-left: 10px;
    padding-right: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    box-sizing: border-box;
}

input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    border: 1px solid #eaeaea;
    box-sizing: border-box;

}

input[type="file"]:focus {
    border: 1px solid #dee0ea;

}

input:focus {
    border: 1px solid #dee0ea;
    /* 瑙ｅ喅input鎸夐挳鑷姩濉厖鍚� 娴忚鍣ㄦ覆鏌撶殑榛樿鑳屾櫙闂 */
    /*box-shadow: inset 0 0 0 1000px #FFFFFF !important;*/
}

.preview {
    display: block;
    object-fit: contain;
    width: 150px;
    height: 100px;
}