
.detail-content-wrapper {
    width: 1400px;
    margin: 0 auto;
}

.form-area-title {
    font-size: 26px;
    color: #0066b0;
    padding: 10px 12px;
}

.form-area {
    display: flex;
    flex-wrap: wrap;
}

.form-item {
    height: 44px;
    width: 50%;
    color: #1a1a1a;
    font-size: 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /*border: 2px solid #dbdbdb;*/
    background: #fff;
    padding: 0 12px;
    /*margin: 14px 20px 0;*/
    /*margin: 0.2rem 0.2rem 0;*/
    border-radius: 4px;
}

.form-item-title-area{
    width: 110px;
    color: #1a1a1a;
    font-size: 16px;
    margin-left: 20px;
    line-height: 40px;
    font-weight: bold;
}
.form-item-area {
    /*height: 244px;*/
    width: 50%;
    color: #1a1a1a;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    box-sizing: border-box;
    /*border: 2px solid #dbdbdb;*/
    background: #fff;
    padding: 10px 12px;
    /*margin: 14px 20px 0;*/
    /*margin: 0.2rem 0.2rem 0;*/
    border-radius: 4px;
    flex-shrink: 0;
}

.form-item-img {
    height: 100px;
    width: 50%;
    color: #1a1a1a;
    font-size: 15px;
    display: flex;
    /*align-items: center;*/
    align-content: flex-start;
    box-sizing: border-box;
    /*border: 2px solid #dbdbdb;*/
    background: #fff;
    padding: 0 12px;
    /*margin: 14px 20px 0;*/
    /*margin: 0.2rem 0.2rem 0;*/
    border-radius: 4px;
    margin-bottom: 30px;

}

.requied {

}

.requied:before {
    content: "*";
    color: red;
}

.form-item-title {
    display: flex;
    align-items: center;
    color: #1a1a1a;
    font-size: 16px;
    margin-left: 20px;
    font-weight: bold;
}

.form-item-title-img {
    display: flex;
    min-width: 120px;
    line-height: 40px;
    color: #1a1a1a;
    font-size: 16px;
    margin-left: 20px;
    font-weight: bold;
}

.img-upload-box {
    margin-left: 20px;
    border: 1px solid orange;
}

.form-item-edit {
    /*margin: 0 10px 0 10px;*/
    flex: 1;
    font-size: 30px;
    color: #1a1a1a;
    background: #fff;
    line-height: 1;
    border-radius: 0;
    outline: none;
    box-shadow: 0 0 0 0;
}

input[type="radio"] {
    height: 24px;
    padding: 5px 4px;
    margin: 0 10px;
    color: #27334f;
}

input[type="date"] {
    width: 180px;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    padding: 5px 4px;
    margin-left: 10px;
    color: #27334f;
    background: #fff;
    border: 1px solid #E5E6EA;
}

input[type="file"] {
    width: 180px;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    padding: 5px 4px;
    margin-left: 10px;
    color: #27334f;
    background: #fff;
    border: 1px solid #E5E6EA;
}

input[type="email"] {
    width: 180px;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    padding: 5px 4px;
    margin-left: 10px;
    color: #27334f;
    background: #fff;
    border: 1px solid #E5E6EA;
}

input[type="text"] {
    width: 180px;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    padding: 5px 4px;
    margin-left: 10px;
    color: #27334f;
    background: #fff;
    border: 1px solid #E5E6EA;
}

input[type="number"] {
    width: 180px;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    padding: 5px 4px;
    margin-left: 10px;
    color: #27334f;
    background: #fff;
    border: 1px solid #E5E6EA;
}

.preview {
    display: block;
    object-fit: contain;
    width: 140px;
    height: 100px;
}
