* {
    margin: 0;
    padding: 0;
    font-family: "PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,微软雅黑,STHeitiSC-Light,simsun,宋体,WenQuanYi Zen Hei,WenQuanYi Micro Hei,sans-serif"
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none
}

.noScroll {
    overflow: hidden;
    /*height: 100vh;*/
}

.plate-center {
    /*width: 1200px;*/
    width: 1400px;
    margin: 0 auto;
}

.search-box {
    height: 790px;
    width: 100%;
    background: rgba(51, 51, 51, 0.97);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;

}

.search-plate {
    width: 1200px;
    height: 200px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-plate input {
    margin-top: 30px;
    width: 100%;
    height: 140px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    background: transparent;
    border-bottom: solid 4px #fff;
    color: #fff;
    font-size: 90px;
    font-family: "PingFang SC";

}

.search-plate input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #7d7d7d;
}

.search-plate input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #7d7d7d;
}

.search-plate input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #7d7d7d;
}

.search-plate input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #7d7d7d;
}

.recommend-title {
    font-size: 20px;
    color: #666666;
    margin-top: 50px;
}

.search-plate .clear {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
}

.search-plate .desc {
    position: absolute;
    right: 0;
    top: 170px;
    color: #cccccc;
    font-size: 14px;
    line-height: 1;
}

.search-tag-box {
    display: flex;
    margin-top: 20px;
    width: 1200px;

}

.search-tag {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #666666;
    margin-right: 15px;
    padding: 10px 15px;
    line-height: 1;
    background: #fff;
    cursor: pointer;

}

.search-tag:hover {
    color: #0066b0;

}

.header-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 1400px;
    height: 85px;
    background: #fff;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 170px;
    /*height: 50px;*/
    /*background: chartreuse;*/
    margin-right: 70px;
}

.header-nav a {
    text-decoration: none;
    color: #262626;
    font-size: 16px;
    margin: 0 20px;
    cursor: pointer;
}

.header-nav .active {
    text-decoration: none;
    color: #0066b0;
    font-size: 16px;
    margin: 0 20px;
    cursor: pointer;
}

.header-nav a:hover {
    /*text-decoration: none;*/
    color: #0066b0;
    /*font-size: 16px;*/
    /*margin-right: 12px;*/
    /*cursor: pointer;*/
}

.header-right-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 14px;
    margin-left: 30px;
    cursor: pointer;
}

.header-right-item:nth-of-type(1) {
    margin-left: 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right-item img {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.header-right-item a {
    color: #2a303a;
    font-size: 14px;
}

.header-right-item:hover a {
    color: #0066b0;
    /*font-size: 14px;*/
}

.top-line {
    height: 5px;
    min-width: 100%;
    background: #0066b0;
}

.top-banner-box {
    height: 300px;
    background: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2Fc%2F58817b7e717f6.jpg&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1611449351&t=1665d48cb121f3266b6550b6f03eb301') no-repeat 0 0;
    background-position: center;
    background-size: cover;
}

.top-banner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-banner-title {
    font-size: 34px;
    color: #fff;
}

.top-banner-desc {
    font-size: 18px;
    color: #ABABAB;
}

.top-banner-line {
    width: 160px;
    height: 2px;
    background: #ABABAB;
    margin: 16px 0;
    position: relative;
}

.top-banner-line::after {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 42px;
    height: 4px;
    top: -1px;
    background: #017DFF;
    content: '';
}

/* 顶部分类导航样式 */
.top-nav-box {
    background: #eaeff5;
}

.top-nav {
    background: #eaeff5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

.top-nav-item {
    width: 175px;
    height: 50px;
    background-color: #fff;
    margin: 10px 50px 10px 0px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #e5e6ea;
    cursor: pointer;
}

.top-nav-item-active {
    width: 175px;
    height: 50px;
    background-color: #0066b0;
    margin: 10px 50px 10px 0px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #e5e6ea;
    cursor: pointer;
}

.top-nav-item-active:last-child {
    width: 175px;
    height: 50px;
    background-color: #0066b0;
    margin: 10px 0px 10px 0px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #e5e6ea;
    cursor: pointer;
}

.top-nav-item:hover {
    color: #0066b0;
}

.top-nav-item:last-child:hover {
    color: #0066b0;
}

.top-nav-item:last-child {
    width: 175px;
    height: 50px;
    background-color: #fff;
    margin: 10px 0px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #e5e6ea;
    cursor: pointer;
}

/* 分页 */
.pagination-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-box > a, .pagination-box > span {
    padding: 6px 12px;
    border: 1px solid #ABABAB;
    color: #ABABAB;
    margin: 0 6px;
}

.pagination-box .active {
    background: #0066b0;
    color: #fff;
    padding: 7px 13px;
    border: none;
}

/* 底部样式 */

.foot-bg {
    width: 100%;
    height: 130px;
    background: url('../image/footimg/ft-bg.png') no-repeat;
    margin-top: 50px;
}

.foot-container {
    /*width: 100%;*/
    height: 330px;
    background: #27334f;
}

.foot-container .foot-content {
    padding: 45px 0;
    display: flex;
}

.foot-container .foot-left {
    /*float: left;*/
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-left .foot-logo {
    width: 190px;
    height: 100px;
    display: block;
    object-fit: cover;
    margin-top: 15px;
    margin-bottom: 35px;
}

.foot-container .foot-left p {
    font-size: 14px;
    line-height: 24px;
    color: #838fa7;
    text-align: center;
}

/* 底部中间样式 */

.foot-container .foot-center {
    /*float: left;*/
    width: 700px;
    box-sizing: border-box;
    padding: 10px 30px 0 30px;
    border-left: 1px solid #55617b;
    border-right: 1px solid #55617b;
}

.foot-link-item-box {
    display: flex;
    margin: 15px 0 45px 0;
    display: flex;
    justify-content: space-between;
}

.foot-center .foot-link-item {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dbdbdb;
    position: relative;
}

.foot-center .foot-link-item .link-txt {
    font-size: 14px;
    color: #27334f;
    line-height: 1;
    padding: 0 5px;
    border-right: 1px solid #b3b3b3;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdown-menu {
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    box-sizing: border-box;
    /*-webkit-background-clip: padding-box;
    background-clip: padding-box;*/
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 16px;
    clear: both;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
    white-space: nowrap;

}

.dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

/* 通用input控件样式 */

input[type="text"] {
    width: 180px;
    padding-left: 5px;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    margin: 3px 0;
    color: #27334f;
    border-right: 1px solid #b3b3b3;
}

.foot-center .foot-link-item img {
    vertical-align: middle;
    display: block;
    width: 9px;
    padding: 0 5px;
    object-fit: contain;
}

.foot-center-info {
    display: flex;
    justify-content: space-between;
}

.foot-center-info-item {
    width: 200px;
}

/* 底部右侧样式 */
.foot-container .foot-right {
    width: 320px;
    padding-top: 15px;
    padding-left: 30px;
}

.foot-address {
    color: #fff;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    overflow: hidden;
    height: 28px;
}

.foot-container .foot-title {
    color: #fff;
    font-size: 15px;
    line-height: 24px;
}

.foot-container ul li {
    line-height: 24px;
}

.foot-container span {
    line-height: 24px;
    color: #838fa7;
    font-size: 13px;
}

.foot-qrcode {
    width: 320px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.foot-qrcode .qrcode-box {
    width: 80px;
    text-align: center;
}

.foot-qrcode .qrcode-box img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 5px;
}

/* 网站备案 */

.website-records {
    height: 70px;
    line-height: 70px;
    background: #222c45;
    text-align: center;
}

.website-records p {
    color: #838fa7;
    font-size: 14px;
}

.website-records p span {
    font-size: 12px;
}

.website-records p img {
    vertical-align: middle;
}