* {
    margin: 0;
    padding: 0;
    font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Helvetica, Arial, Microsoft YaHei, 微软雅黑, STHeitiSC-Light, simsun, 宋体, WenQuanYi Zen Hei, WenQuanYi Micro Hei, "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    cursor: default;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none
}

.noScroll {
    overflow: hidden;
    /*height: 100vh;*/
}

.plate-center {
    /*width: 1200px;*/
    width: 1400px;
    margin: 0 auto;
}

.search-box {
    height: 790px;
    width: 100%;
    background: rgba(51, 51, 51, 0.97);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;

}

.search-plate {
    width: 1200px;
    height: 200px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-plate input {
    margin-top: 30px;
    width: 100%;
    height: 140px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    background: transparent;
    border-bottom: solid 4px #fff;
    color: #fff;
    font-size: 90px;
    font-family: "PingFang SC";

}

.search-plate input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #7d7d7d;
}

.search-plate input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #7d7d7d;
}

.search-plate input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #7d7d7d;
}

.search-plate input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #7d7d7d;
}

.recommend-title {
    font-size: 20px;
    color: #666666;
    margin-top: 50px;
}

.search-plate .clear {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
}

.search-plate .search-desc {
    position: absolute;
    right: 0;
    top: 170px;
    color: #cccccc;
    font-size: 14px;
    line-height: 1;
}

.search-tag-box {
    display: flex;
    margin-top: 20px;
    width: 1200px;

}

.search-tag {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #666666;
    margin-right: 15px;
    padding: 10px 15px;
    line-height: 1;
    background: #fff;
    cursor: pointer;

}

.search-tag:hover {
    color: #0066b0;

}

.header-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 1400px;
    height: 85px;
    background: #fff;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 170px;
    /*height: 50px;*/
    /*background: chartreuse;*/
    margin-right: 70px;
}

.header-nav a {
    text-decoration: none;
    color: #262626;
    font-size: 16px;
    margin: 0 20px;
    cursor: pointer;
    font-family: PingFang SC Medium, PingFang SC Regular;
}

.header-nav .active {
    text-decoration: none;
    color: #0066b0;
    font-size: 16px;
    margin: 0 20px;
    cursor: pointer;
}

.header-nav a:hover {
    /*text-decoration: none;*/
    color: #0066b0;
    /*font-size: 16px;*/
    /*margin-right: 12px;*/
    /*cursor: pointer;*/
}

.header-right-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 14px;
    margin-left: 30px;
    cursor: pointer;
}

.header-right-item:first-child {
    margin-left: 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right-item img {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.header-right-item a {
    color: #2a303a;
    font-size: 14px;
}

.header-right-item:hover a {
    color: #0066b0;
    /*font-size: 14px;*/
}

.top-line {
    height: 5px;
    min-width: 100%;
    background: #0066b0;
}

.top-banner-box {
    height: 300px;
    /*background: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2Fc%2F58817b7e717f6.jpg&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1611449351&t=1665d48cb121f3266b6550b6f03eb301') no-repeat 0 0;*/
    background: url('../image/footer_bgd.png') no-repeat 0 0;
    background-position: center;
    background-size: cover;
}

.top-banner-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-banner-title {
    font-size: 42px;
    color: #fff;
    margin-top: 78px;
}

.top-banner-desc {
    font-size: 16px;
    color: #ABABAB;
    margin-top: 26px;
}

.top-banner-line {
    width: 200px;
    height: 1px;
    background: #797874;
    margin-top: 20px;
    position: relative;
}

.top-banner-line::after {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 3px;
    top: -1px;
    background: #017DFF;
    content: '';
}

/* 顶部分类导航样式 */
.top-nav-box {
    background: #eaeff5;
}

.top-nav {
    background: #eaeff5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

.top-nav-item {
    white-space: nowrap;
    min-width: 175px;
    height: 50px;
    background-color: #fff;
    margin: 10px 50px 10px 0px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #e5e6ea;
    cursor: pointer;
    padding: 0 10px;
    box-sizing: border-box;

}

.top-nav-item-active {
    white-space: nowrap;

    min-width: 175px;
    height: 50px;
    background-color: #0066b0;
    margin: 10px 50px 10px 0px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #e5e6ea;
    cursor: pointer;
    padding: 0 10px;
    box-sizing: border-box;

}

.top-nav-item-active:last-child {
    white-space: nowrap;

    min-width: 175px;
    height: 50px;
    background-color: #0066b0;
    margin: 10px 0px 10px 0px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #e5e6ea;
    cursor: pointer;
    box-sizing: border-box;

}

.top-nav-item:hover {
    color: #0066b0;
}

.top-nav-item:last-child:hover {
    color: #0066b0;
}

.top-nav-item:last-child {
    white-space: nowrap;
    box-sizing: border-box;
    min-width: 175px;
    height: 50px;
    background-color: #fff;
    margin: 10px 0px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #e5e6ea;
    cursor: pointer;
}

/* 分页 */
.pagination-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-box > a, .pagination-box > span {
    padding: 6px 12px;
    border: 1px solid #ABABAB;
    color: #ABABAB;
    margin: 0 6px;
}

.pagination-box .active {
    background: #0066b0;
    color: #fff;
    padding: 7px 13px;
    border: none;
}

/* 底部样式 */

.foot-bg {
    width: 100%;
    height: 130px;
    background: url('../image/footimg/ft-bg.png') no-repeat;
    margin-top: 50px;
}

.foot-container {
    /*width: 100%;*/
    height: 330px;
    background: #27334f;
}

.foot-container .foot-content {
    padding: 45px 0;
    display: flex;
}

.foot-container .foot-left {
    /*float: left;*/
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-left .foot-logo {
    width: 190px;
    height: 100px;
    display: block;
    object-fit: cover;
    margin-top: 15px;
    margin-bottom: 35px;
}

.foot-container .foot-left p {
    font-size: 14px;
    line-height: 24px;
    color: #838fa7;
    text-align: center;
}

/* 底部中间样式 */

.foot-container .foot-center {
    /*float: left;*/
    width: 700px;
    box-sizing: border-box;
    padding: 10px 30px 0 30px;
    border-left: 1px solid #55617b;
    border-right: 1px solid #55617b;
}

.foot-link-item-box {
    display: flex;
    margin: 15px 0 45px 0;
    display: flex;
    justify-content: space-between;
}

.foot-center .foot-link-item {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dbdbdb;
    position: relative;
    cursor: pointer;

}

.foot-center .foot-link-item .link-txt {
    font-size: 14px;
    color: #27334f;
    line-height: 1;
    padding: 0 5px;
    border-right: 1px solid #b3b3b3;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdown-menu {
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    box-sizing: border-box;
    /*-webkit-background-clip: padding-box;
    background-clip: padding-box;*/
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 16px;
    clear: both;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
    white-space: nowrap;

}

.dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

/* 通用input控件样式 */

input[type="text"] {
    width: 180px;
    padding-left: 5px;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    margin: 3px 0;
    color: #27334f;
    border-right: 1px solid #b3b3b3;
}

.foot-center .foot-link-item img {
    vertical-align: middle;
    display: block;
    width: 9px;
    padding: 0 5px;
    object-fit: contain;
}

.foot-center-info {
    display: flex;
    justify-content: space-between;
}

.foot-center-info-item {
    width: 200px;
}

/* 底部右侧样式 */
.foot-container .foot-right {
    width: 320px;
    padding-top: 15px;
    padding-left: 30px;
}

.foot-address {
    color: #fff;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    overflow: hidden;
    height: 28px;
    flex-shrink: 0;
}

.foot-container .foot-title {
    color: #fff;
    font-size: 15px;
    line-height: 24px;
}

.foot-container ul li {
    line-height: 24px;
}

.foot-container span {
    line-height: 24px;
    color: #838fa7;
    font-size: 13px;
}

.foot-qrcode {
    width: 320px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.foot-qrcode .qrcode-box {
    width: 80px;
    text-align: center;
}

.foot-qrcode .qrcode-box img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 5px;
}

/* 网站备案 */

.website-records {
    height: 70px;
    line-height: 70px;
    background: #222c45;
    text-align: center;
}

.website-records p {
    color: #838fa7;
    font-size: 14px;
}

.website-records p span {
    font-size: 12px;
}

.website-records p span[data-state=big] {
    font-size: 14px;
}

.website-records p img {
    vertical-align: middle;
}

/*********************************************************************************************************************

/* 各模块通用样式 */

.imgbox img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all ease 0.3s;
}

.imgbox img:hover {
    transform: scale(1.12);

}

.time {
    color: #999;
    font-size: 12px;
}

/* 页面内容左侧通用样式 */

.content-box {
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 50px;
}

.content-left-box {
    flex: 1;
    max-width: 960px;
    margin-right: 60px;
    min-height: 2715px;
}

.news-item {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
}

.news-item:hover .imgbox img {
    transform: scale(1.12);
}

.news-item:hover .news-content-box .news-title a {
    color: #0066b0;
    /*font-weight: bold;*/
}

.news-item .imgbox {
    width: 210px;
    height: 140px;
    overflow: hidden;
}

.news-item .imgbox img {
    transition: all ease 0.3s;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*.news-item .imgbox img:hover {
    transform: scale(1.12);
}*/

.news-content-box {
    margin-left: 20px;
    padding: 0 0 5px 0;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.news-content-box .news-title a {
    display: inline-block;
    max-width: 730px;
    font-size: 20px;
    color: #262626;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-content-box .news-title a:hover {
    color: #0066b0;
}

/* 右侧内容通用样式 */

.content-right-box {
    width: 380px;
}

.content-right-box .right-item {
    max-width: 380px;
    margin-bottom: 40px;
}

/* 右侧顶部广告 */

.adver-area .imgbox {
    width: 380px;
    height: 220px;
    overflow: hidden;
}

.adver-area .imgbox img {
    width: 380px;
    height: 220px;
    display: block;
    object-fit: cover;
    transition: all ease 0.3s;
}

/* 相关资讯 */

.right-item .title {
    border-bottom: 1px solid #dee0ea;
    height: 50px;
}

.right-item .title .title-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url('../image/ico.png') no-repeat left/100% 100%;
    vertical-align: -4px;
    margin-right: 4px;
}

.right-item .title h2 {
    display: inline-block;
    color: #0066b0;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 17px;
    border-bottom: 4px solid #0066b0;
}

.relevant-news-area .imgbox {
    width: 380px;
    height: 200px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 10px;
}

.relevant-news-area .imgbox img {
    width: 380px;
    height: 200px;
    display: block;
    object-fit: cover;
    transition: all ease 0.3s;
}

.news-list .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eaeaea;
}

.news-list .list-item a {
    flex: 1;
    font-size: 16px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-list .list-item .time {
    width: 76px;
    margin-left: 30px;
}

.news-list .list-item a:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 15px;
    margin-right: 10px;
    vertical-align: middle;
    background: url('../image/list-icon.png') no-repeat 2px center;
}

.news-list .list-item a:hover {
    color: #0066b0;
}

.news-list .list-item a:hover:before {
    background: url('../image/list-icon-rain.png') no-repeat left/100% 100%;
}

/* 推荐资讯 */

.recommend-news-area .news-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recommend-news-area .news-item {
    position: relative;
    margin-top: 20px;
    width: 186px;
    padding: 0;
}

.recommend-news-area .imgbox {
    width: 186px;
    height: 124px;
    overflow: hidden;
}

.recommend-news-area .news-item .caption {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    bottom: 0;
    /*z-index: 1;*/
    background: rgba(0, 0, 0, .3);
}

.recommend-news-area .news-item .caption a {
    display: inline-block;
    width: 186px;
    color: #fff;
    line-height: 30px;
    font-size: 13px;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;

}

/* 热点资讯 */

.hot-news-list {
    margin-top: 5px;
}

.hot-news-list .news-item {
    padding: 15px 0;
}

.hot-news-list .news-item:hover .imgbox img {
    transform: scale(1.12);
}

.hot-news-list .imgbox {
    width: 120px;
    height: 80px;
    overflow: hidden;
}

.hot-news-list .news-content-box {
    margin-left: 15px;
    justify-content: space-between;
}

.hot-news-list .news-content-box .news-title a {
    font-size: 15px;
    line-height: 24px;
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.hot-news-list .news-content-box .bottom {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.side_bar {
    display: none;
}

.side_bar li span {
    font-size: 14px;
    color: #999999;
    display: block;
}

.side_bar li {
    padding-bottom: 26px;
    cursor: pointer;
}

.side_bar i {
    display: block;
    margin: 30px auto 10px auto;
    position: relative;
}

.side_bar .i_gotop {
    width: 20px;
    height: 21px;
    background: url(../image/pic/i_gotop.png) no-repeat;
    background-size: 20px auto;
}

.side_bar .i_gophone {
    width: 24px;
    height: 28px;
    background: url(../image/pic/i_gophone.png) no-repeat;
    background-size: 19px auto;
}

.side_bar .i_goservice {
    width: 24px;
    height: 23px;
    background: url(../image/pic/i_goservice.png) no-repeat;
    background-size: 23px auto;
}

.side_bar .i_gophone::before, .side_bar .i_goservice::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 1px;
    background: #E0E0E0;
    left: 0px;
    top: -30px;
}

.side_bar .on .i_gotop, .side_bar li:hover .i_gotop {
    background-image: url(../image/pic/i_gotop_hover.png);
}

.side_bar .on .i_gophone, .side_bar li:hover .i_gophone {
    background-image: url(../image/pic/i_gophone_hover.png);
}

.side_bar .on .i_goservice, .side_bar li:hover .i_goservice {
    background-image: url(../image/pic/i_goservice_hover.png);
}

.side_bar li:hover span, .side_bar .on span {
    /*color: #F90084;*/
    color: #0066b0;
}

.side_bar_kang {
    display: none;
    background-repeat: no-repeat;
    width: 442px;
    height: 378px;
    position: absolute;
    top: -14px;
    right: 70px;
}

.gophone {
    background-image: url(../image/pic/gophone.png);
}

.goservice {
    background-image: url(../image/pic/goservice.png);
}

.side_bar_kang .side_title {
    display: block;
    padding: 38px 0 31px 0;
    color: #333333;
    font-size: 16px;
}

.side_bar_kang img {
    width: 219px;
    height: 219px;
}

.side_aside {
    display: block;
    color: #333;
    padding: 10px 0 0 0;
}

.side_aside .side_hui {
    color: #999;
}

.goservice .side_title {
    padding: 28px 0 10px 0;
}

.indexEN .Icon_list li {
    font-size: 20px;
}

.indexEN .go_buy .button, .indexEN .titles .button {
    width: auto;
    padding: 0 10px;
}

.clip-text {
    display: block;
}

.top-menu_en .site-nav li a, .top-menu_en .site-nav li a:hover {
    font-size: 12px;
}

@media only screen and (min-width: 800px) {
    .side_bar {
        display: block;
        text-align: center;
        width: 80px;
        height: 350px;
        background: #FFFFFF;
        position: fixed;
        bottom: 30px;
        right: 30px;
        box-shadow: 0 0 14px 0 rgb(0 0 0 / 7%);
        border-radius: 3px;
        z-index: 11;
    }
}

/* 广告区域 */

/*.adver-area2 .imgbox {
    margin-bottom: 20px;
}

.little-top-banner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    !*background: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2Fc%2F58817b7e717f6.jpg&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1611449351&t=1665d48…) no-repeat 0 0;*!
    background: url('../image/footer_bgd.png') no-repeat 0 0;
    background-position: center;
    background-size: cover;
}*/

/*手机*/
/*
@media screen and (min-width: 415px) and (max-width: 767px) {

    .header-box {
        background: yellow;
    }
    body{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }


}
@media screen and (min-width: 320px) and (max-width: 414px) {
    body{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .header-box {
        background: green;
    }
    .header-nav{
        display: none;
    }
}*/


