/*body {
    min-width: 1900px;

}*/
body {
    min-width: 1900px;
    padding-top: 85px;

}

.top-line {
    height: 5px;
    width: 100%;
    background: #0066b0;
}

.top-swiper-box {
    height: 700px;
    width: 100%;
}

.top-swiper-box .swiper-slide a,
.top-swiper-box .swiper-slide a img {
    width: 100%;
    height: 700px;
    background: #eee;
    display: block;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px
}

.swiper-pagination-bullet {
    width: 50px;
    border-radius: 0px;
    height: 2px;
    margin: 0 5px;
    background: #000;

}

.my-swiper-pagination-bullet {
    height: 8px;
    width: 8px;
    border-radius: 0px;
    margin: 0 5px;
    background: #474647;
    border-radius: 8px;
}

.my-swiper-pagination-bullet-active {
    background: #ffc846;
    height: 8px;
    width: 16px;
    margin: 0 1px;
    border-radius: 8px;
}

.swiper-pagination-bullet-active {
    background: #fff;
    position: relative;
    overflow: hidden;
}

.swiper-pagination-bullet-active::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background: #888;
    content: '';
    animation: swiperLoop 3s linear;
}

@keyframes swiperLoop {
    0% {

        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.banner-advertisement {
    padding: 50px 0;
    background: #f9fbff;
}

.banner-advertisement2 {
    padding: 50px 0 70px 0;
    background: #fff;
}

.top-advertisement {
    height: 120px;
    display: block;
    /*background: yellow;*/
}

.top-advertisement .image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.news-box {
    padding: 70px 0;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.news-box-left {
    margin: 0;
    padding: 0;
    width: 700px;
    height: 400px;
    /*z-index: 0;*/

}

.news-box-left .swiper-pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 15px;
    box-sizing: border-box;
    /*z-index: 2;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;

}

.swiper-news-image {
    width: 700px;
    height: 400px;
    object-fit: cover;
    display: block;
}

.news-swiper-bottom {
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 16px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 45px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.news-box-right {
    display: flex;
    flex-direction: column;
    width: 660px;
    height: 400px;
    /*background: deepskyblue;*/
}

.top-banner {
    display: flex;
    background: #eaeff5;
    height: 50px;
    cursor: pointer;
}

.top-banner .item {
    display: flex;
    flex: 1;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: #333333;
}

.top-banner .item:hover {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #0066b0;
}

.top-banner .item-active {
    display: flex;
    flex: 1;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0066b0;
}

.news-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.news-list-item {
    position: relative;
    height: 114px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex: 1;
    border-bottom: 1px solid #eaeaea;

}

.news-list-item:hover .date-box {
    background: #0066b0;
}

.news-list-item:hover .content-box .title {
    color: #0066b0;
}

.news-list-item:hover .img-wraper img {
    transform: scale(1.12);
}

.news-list-item .date-box {
    margin-top: 20px;
    float: left;
    width: 80px;
    height: 80px;
    background: #afbcc7 url(../image/timesbg.png) no-repeat 26px 28px;
    color: #fff;
    position: relative;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.news-list-item .date-box .sp1 {
    position: absolute;
    font-size: 36px;
    left: 5px;
    top: 5px;
}

.news-list-item .date-box .sp2 {
    position: absolute;
    font-size: 14px;
    right: 5px;
    top: 35px;
}

.news-list-item .date-box .sp3 {
    position: absolute;
    font-size: 14px;
    right: 5px;
    top: 56px;
}

.news-list-item .content-box {
    width: 446px;
    padding: 20px 20px 0;
    box-sizing: border-box;
    flex: 1;
}

.news-list-item .content-box .title {
    font-size: 18px;
    line-height: 30px;
    color: #262626;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.news-list-item .content-box .content {
    font-size: 14px;
    color: #666666;
    line-height: 22px;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Helvetica, Arial, Microsoft YaHei, 微软雅黑, STHeitiSC-Light, simsun, 宋体, WenQuanYi Zen Hei, WenQuanYi Micro Hei, "sans-serif";
}

/*.news-list-item .image {
    margin-top: 14px;
    width: 136px;
    height: 90px;
    display: block;
    object-fit: cover;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}*/

/*.news-list-item .image:hover {
    transform: scale(1.12);
}*/

.news-list-item .img-wraper {
    margin-top: 14px;
    width: 136px;
    height: 90px;
    overflow: hidden;
}

.news-list-item .img-wraper .image {
    width: 136px;
    height: 90px;
    display: block;
    object-fit: cover;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/*
.news-list-item .img-wraper .image:hover {
    transform: scale(1.12);
}*/

.link-box {
    background: #f9fbff;
    padding: 70px 0 50px;
}

.link-list {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.link-item-wrapper {
    width: 264px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 20px;
}

.link-item {
    width: 264px;
    height: 150px;
    display: block;
    object-fit: cover;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.link-item:hover {
    transform: scale(1.12);
}

.link-item-wrapper-noright {
    width: 264px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
}

.wcyx-box {
    background: #283350;
}

.wcyx-box .active {
    color: #ffc846;

}

.wcyx-title {
    color: #fff;
    font-size: 24px;
    padding-top: 30px;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
    position: relative;
}

.wcyx-title::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;
    content: '';
    width: 40px;
    height: 2px;
    border-radius: 1px;
    background: #ffc846;
    margin: auto;
}

.wcyx-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    padding-bottom: 40px;
}

.wcyx-nav div {
    cursor: pointer;
}

.wcyx-nav-line {
    margin: 0 24px;
    color: #ffc846;

}

.wcyx-item {
    padding-bottom: 70px;
}

.wcyx-video-box {
    min-width: 1900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.wcyx-vide-img-box {
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.wcyx-vide-img-box a {
    width: 581px;
    height: 195px;
    overflow: hidden;
}

.wcyx-vide-img-box img {
    width: 581px;
    height: 195px;
    display: block;
    object-fit: cover;
    background: #eee;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.wcyx-vide-img-box img:hover {
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -ms-transform: scale(1.12);
    -o-transform: scale(1.12);
    transform: scale(1.12);
}

.wcyx-vide-video-box {
    width: 700px;
    position: relative;
}

.play-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

}

.play-btn-img {
    width: 120px;
    height: 80px;
    display: block;
    object-fit: cover;
}

/*.wcyx-vide-video-box img {
    width: 700px;
    height: 400px;
    display: block;
}*/

.wcyx-vide-video-box video {
    width: 700px;
    height: 400px;
    display: block;
}

.wcyx-video-bottom-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 0;
}

.wcyx-video-bottom-img {
    width: 368px;
    height: 200px;
    overflow: hidden;
}

.wcyx-video-bottom-img img {
    width: 368px;
    height: 200px;
    display: block;
    object-fit: cover;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.wcyx-video-bottom-img img:hover {
    transform: scale(1.12);
}

.culture-organization-box {
    background: #f9fbff;
    padding: 70px 0;
}

.culture-organization-content {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.culture-list {
    display: flex;
    flex-wrap: wrap;
}

.culture-box {
    width: 920px;
}

.culture-image-wrapper {
    width: 293px;
    height: 170px;
    margin-right: 20px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.culture-image-wrapper .desc {
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.culture-image {
    width: 293px;
    height: 170px;
    display: block;
    object-fit: cover;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.culture-image-wrapper:hover .culture-image {
    transform: scale(1.12);
}

.culture-image-wrapper-not-right:hover .culture-image {
    transform: scale(1.12);
}

.culture-image-wrapper:hover .desc {
    height: 40px;
    width: 100%;
    padding: 0 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: rgba(0, 0, 0, 0.5);
}

.culture-image-wrapper-not-right:hover .desc {
    height: 40px;
    width: 100%;
    padding: 0 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: rgba(0, 0, 0, 0.5);
}

.culture-image-wrapper-not-right {
    width: 293px;
    height: 170px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.organization-item-list-box {
    display: flex;
    flex-direction: column;
    height: 360px;
    overflow: hidden;
    margin-top: 20px;
    box-sizing: border-box;
}

.organization-item-list {
    display: flex;
    flex-direction: column;
    /*height: 380px;*/
    /*overflow: hidden;*/
}

.organization-item {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;

}

.organization-item:hover .organization-item-title {
    color: #0066b0;
}

.organization-item-icon {
    width: 72px;
    height: 72px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

.organization-item-right {
    width: 358px;
}

.organization-item-title {
    color: #1a1a1a;
    max-width: 330px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.organization-item-desc {
    font-size: 13px;
    color: #333333;
    line-height: 1.5;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tab-box {
    width: 1400px;
    /*padding-bottom: 50px;*/
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.tab-box div {
    cursor: pointer;
}

.tab-box .tab-active {
    width: 16px;
    height: 8px;
    margin: 0 3px;
    border-radius: 4px;
    background: #0066b0;
}

.tab-box .tab {
    width: 8px;
    height: 8px;
    margin: 0 7px;
    border-radius: 4px;
    background: #cccccc;
}

.index-item-column-cyan {
    background: #f9fbff;

}

.index-item-column {
    background: #fff;
}

.index-item-column-platform {
    background: #fff;
    width: 1400px;
    margin: 0 auto;
}

.leader-box {
    background: #f9fbff;
    padding-bottom: 70px;

}

.index-item-title {
    color: #0066b0;
    font-size: 36px;
    padding-top: 70px;
    line-height: 1;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
    position: relative;
}

.index-item-title::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;
    content: '';
    width: 40px;
    height: 2px;
    border-radius: 1px;
    background: #ffc846;
    margin: auto;
}

.index-item-title-tips {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #878e9a;
    font-size: 15px;
    padding-bottom: 40px;
}

.s4-prev-1 {
    width: 271.5px;
    /*width: 232px;*/
    height: 390px;
    top: 0;
    left: -20px;
    /*margin-top: 0;*/
    margin: 0;
    padding: 0;
    z-index: 99;
    transition: 0.2s;
    position: absolute;
    cursor: pointer;
    background: rgba(255, 255, 255, .6);
}

.s4-prev-1::after {
    content: '';
    position: absolute;
    top: 180px;
    width: 40px;
    height: 70px;
    right: -40px;
    background-image: url(../image/left.png);
}

.s4-next-1 {
    width: 271.5px;
    /*width: 232px;*/
    height: 390px;
    top: 0;
    right: -20px;
    /*margin-top: 0;*/
    margin: 0;
    padding: 0;
    z-index: 99;
    transition: 0.2s;
    position: absolute;
    cursor: pointer;
    background: rgba(255, 255, 255, .6);
}

.s4-next-1::after {
    content: '';
    position: absolute;
    top: 180px;
    width: 40px;
    height: 70px;
    left: -40px;
    background-image: url(../image/right.png);
}

.people-item {
    width: 264px;
    height: 390px;
    margin:0 10px;
    /*margin-right: 20px;*/
    position: relative;
}

.people-item img {
    width: 264px;
    height: 390px;
    display: block;
    object-fit: cover;
}

.people-item-bottom {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    font-size: 26px;
    line-height: 1;
    background: linear-gradient(-180deg, transparent 13%, rgba(0, 0, 0, .65) 97%);
}

.people-item-bottom-content {
    padding-bottom: 20px;
    display: flex;
}

.people-item-bottom-line {
    margin: 0 10px;
    background: #fff;
    height: 26px;
    width: 1px;
}

.people-item-right {
    font-size: 12px;
    line-height: 16px;
}

.factory-list {
    display: grid;
    background-color: gray;
    grid-template-columns: repeat(190, 10px);
    grid-template-rows: repeat(3, 100px);
}

.company-list {
    display: flex;
    flex-wrap: wrap;
    background: #212226;

}

.company-list img:hover {
    transform: scale(1.12);
}

.one {
    width: 335px;
    height: 150px;
    /*background: palevioletred;*/
    /*border: 1px solid mediumspringgreen;*/
    box-sizing: border-box;
    overflow: hidden;
}

.one img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.two img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.two {
    width: 224px;
    height: 150px;
    /*background: mistyrose;*/
    /*border: 1px orange solid;*/
    box-sizing: border-box;
    overflow: hidden;
}

.s4-prev-1 {
}

.article-list-box-wraper {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
}

.article-list-box-outer {
    display: flex;
    flex-wrap: nowrap;
    -webkit-transition: transform ease 0.3s;
    -moz-transition: transform ease 0.3s;
    -ms-transition: transform ease 0.3s;
    -o-transition: transform ease 0.3s;
    transition: transform ease 0.3s;
}

.article-list-box {
    width: 1400px;
    padding-bottom: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.article-list {
    width: 450px;
}

.article-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dee0ea;
}

.article-title-left {
    display: flex;
    align-items: center;
    color: #0066b0;
    font-size: 22px;
    position: relative;
    border-bottom: 4px solid #0066b0;
    padding-bottom: 10px;
}

.article-title-left img {
    padding-right: 10px;
}

.article-title-right {
    display: flex;
    align-items: center;
    color: #555c68;
    font-size: 16px;
    padding-bottom: 10px;
}

.article-title-right:hover {
    display: flex;
    align-items: center;
    color: #0066b0;
    font-size: 16px;
    padding-bottom: 10px;
}

.article-title-left::after {
    position: absolute;
    content: '';
}

.article-item {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;

}

.article-item:hover .article-item-title {
    color: #0066b0;
}

.article-item:hover .article-item-decorate {
    color: #0066b0;
    width: 10px;
    height: 15px;
    margin: 0 15px 0 0;
    /*background-position:center;*/
    background: #0000 url(../image/rain.png) no-repeat 50% 50%;
}

.article-item-left {
    display: flex;
    align-items: center;
}

.article-item .article-item-title {
    color: #333333;
    flex: 1;
    margin-right: 20px;
    width: 100%;
    max-width: 325px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article-item .article-item-title-only {
    color: #333333;
    flex: 1;
    width: 100%;
    max-width: 420px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article-item-right {
    color: #999999;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article-item-right-txt {
    color: #999999;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article-item-decorate {
    width: 5px;
    height: 5px;
    background: #0066b0;
    margin: 0 18px 0 2px;
    box-sizing: border-box;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.wcyx-image-box {
    width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
}

.wcyx-image-box-in {
    display: flex;
}

.wcyx-image-box-in a {
    /*  width: 370px;
      height: 200px;*/
    width: 350px;
    height: 234px;
    margin-right: 8px;
    display: inline-block;
    flex-shrink: 0;
    overflow: hidden;
}

.wcyx-image-box-in img {
    width: 350px;
    height: 234px;
    object-fit: cover;
    display: block;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.wcyx-image-box-in img:hover {
    transform: scale(1.12);
}