<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=0, maximum-scale=1, minimum-scale=0, user-scalable=yes">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">

    <style>
        body {
            min-width: 1400px;
            padding-top: 85px;
        }

        .content-box {
            width: 100%;
            position: relative;
        }

        .bg {
            width: 100%;
            display: block;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .main {
            width: 1400px;
            padding-top: 100px;
            margin: 0 auto;
            position: relative;
        }

        .banner {
            width: 1260px;
            position: relative;
            margin: 0 auto;
            overflow: hidden;
        }

        .event-box {
            display: flex;
            transition: all ease 0.3s;
        }

        .event-item {
            padding: 40px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            background: white;
            width: 400px;
            height: 320px;
            margin-right: 30px;
            border: 1px solid #E5E6EA;
            flex-shrink: 0;
            position: relative;
            cursor: pointer;
        }

/*        .event-item:hover {

            border: 1px solid #0066b0;
            color: #0066b0;
        }
        .event-item:hover .triangle {
            border: 12px solid #0066b0;
            height: 0;
            width: 0;
            border-right-color: #fff;
            border-bottom-color: #fff;
            position: absolute;
            right: -1px;
            bottom: -1px;
            display: block;
        }*/

        .event-box .title {
            font-size: 26px;
            line-height: 1;
        }

        .event-item[data-state=active] {
            padding: 40px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            background: white;
            width: 400px;
            height: 320px;
            margin-right: 30px;
            border: 1px solid #0066b0;
            color: #0066b0;
            flex-shrink: 0;
            position: relative;
            cursor: pointer;
        }

        .event-item[data-state=active] .triangle {
            border: 12px solid #0066b0;
            height: 0;
            width: 0;
            border-right-color: #fff;
            border-bottom-color: #fff;
            position: absolute;
            right: -1px;
            bottom: -1px;
            display: block;
        }

        .event-content {
            padding-top: 20px;
            font-size: 15px;
            line-height: 30px;
            color: #666666;
        }

        .triangle {
            display: none;
        }

        .banner .item .title {
            width: 90px;
            height: 25px;
            margin-top: 40px;
        }

        .left {
            position: absolute;
            cursor: pointer;
            left: 0px;
            margin-top: 140px;
            background: transparent;
            z-index: 1;

        }

        .right {
            position: absolute;
            right: 0px;
            margin-top: 140px;
            cursor: pointer;
            z-index: 1;

        }

        .time {
            width: 1280px;
            margin: 60px auto 0;
        }

        .time .time-top {
            display: flex;
            justify-content: space-between;
            width: 1260px;
            margin: 0 auto 3px auto;
        }

        .time .line {
            width: 1px;
            height: 12px;
            background: #C7C7C7;
        }

        .time-bar {
            display: flex;
            width: 1280px;
            height: 7px;
            background: linear-gradient(to right, #0066b0 0px, #7c7c7c 0%);
            transition: all ease 0.3s;
        }

        .time-bottom {
            width: 100%;
            margin-top: 2px;
            display: flex;
            justify-content: space-around;
            overflow: hidden;
        }

        .year {
            flex-shrink: 0;
            font-size: 16px;
            color: #666;
            padding: 5px;
            cursor: pointer;
        }

        .year:hover {
            color: #0066b0;
        }

        .year[data-state=active] {
            flex-shrink: 0;
            font-size: 16px;
            color: #0066b0;
        }
    </style>
</head>

<body>
<div class="search-box" style="display: none">
    <div class="search-plate">
        <img class="clear" src="../image/close.png">
        <input id="searchInput" placeholder="请输入关键词">
        <div class="search-desc">按Enter键进行搜索后Esc键关闭</div>
        <div class="recommend-title">#推荐搜索#
        </div>
        <div class="search-tag-box">
            <div class="search-tag">协会大事记</div>
            <div class="search-tag">未来感</div>
            <div class="search-tag">理事单位</div>
            <div class="search-tag">童年茴香</div>
            <div class="search-tag">家乡美味</div>
        </div>
    </div>
</div>

<header class="header-box">
    <div class="header-content plate-center">
        <div class="header-left">
            <img class="header-logo" src="../image/logo.png" alt="">
            <div class="header-nav">
                <a href="index.html">首页</a>
                <a href="xhgk.html" class="active">文创聊城</a>
                <a href="wczs.html">文创之声</a>
                <a href="wcdj.html">文创党建</a>
                <a href="ppwh.html">品牌文化</a>
                <a href="gxptfw.html">服务平台</a>
                <a href="hydw.html">会员单位</a>
                <a href="fzjg.html">分支机构</a>
                <a href="wcyx.html">文创影像</a>
            </div>
        </div>
        <div class="header-right">
            <div id="searchBtn" class="header-right-item">
                <img src="../image/search.png" alt="">
                <a class="search">搜索</a>
            </div>
            <div class="header-right-item">
                <img src="../image/user.png" alt="">
                <a href="">会员申请</a>
            </div>
        </div>

    </div>
    <div class="top-line"></div>

</header>

<div class="top-banner-box">
    <div class="top-banner-title">文创聊城</div>
    <div class="top-banner-line"></div>
    <div class="top-banner-desc">INFORMATION</div>
</div>

<div class="top-nav-box">
    <div class="plate-center">
        <div class="top-nav">
            <a href="xhgk.html" class="top-nav-item">协会概况</a>
            <a href="xhjg.html" class="top-nav-item">协会架构</a>
            <a href="leader.html" class="top-nav-item-active">协会领导</a>
            <a href="wczk.html" class="top-nav-item">文创智库</a>
            <a href="fzlc.html" class="top-nav-item">发展历程</a>
            <a href="xxgk.html" class="top-nav-item">信息公开</a>
        </div>
    </div>
</div>
<div class="content-box">
    <img class="bg" src="../image/2-5-history.png">

    <div class="main">
        <div class="left">
            <img src="../image/2-5-left.png">
        </div>
        <div class="right">
            <img src="../image/2-5-right.png">
        </div>
        <!--显示区域-->
        <div class="banner">
            <div class="event-box">
                <div class="event-item">
                    <div class="title">2017年</div>
                    <div class="event-content">
                        3月,年度中国商业地产特别贡献奖
                        5月,年度中国商业地产杰出领袖人物
                        6月，年度中国购物中心十大管理人物
                        8月,清华大学苏世民书院聘请丁立业先生担任荣誉校董
                        10月,首届百名行业领军人物
                    </div>
                    <div class="triangle"></div>
                </div>
                <div class="event-item">
                    <div class="title">2018年</div>

                    <div class="event-content">
                        3月,年度中国商业地产特别贡献奖
                        5月,年度中国商业地产杰出领袖人物
                        6月，年度中国购物中心十大管理人物
                        8月,清华大学苏世民书院聘请丁立业先生担任荣誉校董
                        10月,首届百名行业领军人物
                    </div>
                    <div class="triangle"></div>

                </div>
                <div class="event-item">
                    <div class="title">2019年</div>
                    <div class="event-content">
                        3月,年度中国商业地产特别贡献奖
                        5月,年度中国商业地产杰出领袖人物
                        6月，年度中国购物中心十大管理人物
                        8月,清华大学苏世民书院聘请丁立业先生担任荣誉校董
                        10月,首届百名行业领军人物
                    </div>
                    <div class="triangle"></div>

                </div>
                <div class="event-item">
                    <div class="title">2020年</div>
                    <div class="event-content">
                        3月,年度中国商业地产特别贡献奖
                        5月,年度中国商业地产杰出领袖人物
                        6月，年度中国购物中心十大管理人物
                        8月,清华大学苏世民书院聘请丁立业先生担任荣誉校董
                        10月,首届百名行业领军人物
                    </div>
                    <div class="triangle"></div>

                </div>
                <div class="event-item">
                    <div class="title">2021年</div>
                    <div class="event-content">
                        3月,年度中国商业地产特别贡献奖
                        5月,年度中国商业地产杰出领袖人物
                        6月，年度中国购物中心十大管理人物
                        8月,清华大学苏世民书院聘请丁立业先生担任荣誉校董
                        10月,首届百名行业领军人物
                    </div>
                    <div class="triangle"></div>
                </div>
                <div class="event-item">
                    <div class="title">2022年</div>
                    <div class="event-content">2017
                        3月,年度中国商业地产特别贡献奖
                        5月,年度中国商业地产杰出领袖人物
                        6月，年度中国购物中心十大管理人物
                        8月,清华大学苏世民书院聘请丁立业先生担任荣誉校董
                        10月,首届百名行业领军人物
                    </div>
                    <div class="triangle"></div>

                </div>
                <div class="event-item">
                    <div class="title">2023年</div>
                    <div class="event-content">
                        3月,年度中国商业地产特别贡献奖
                        5月,年度中国商业地产杰出领袖人物
                        6月，年度中国购物中心十大管理人物
                        8月,清华大学苏世民书院聘请丁立业先生担任荣誉校董
                        10月,首届百名行业领军人物
                    </div>
                    <div class="triangle"></div>

                </div>
                <div class="event-item">
                    <div class="title">2024年</div>
                    <div class="event-content">
                        3月,年度中国商业地产特别贡献奖
                        5月,年度中国商业地产杰出领袖人物
                        6月，年度中国购物中心十大管理人物
                        8月,清华大学苏世民书院聘请丁立业先生担任荣誉校董
                        10月,首届百名行业领军人物
                    </div>
                    <div class="triangle"></div>

                </div>
            </div>
        </div>


        <div class="time">
            <div class="time-top">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <div class="time-bar"></div>
            <div class="time-bottom">
                <div class="year">2017</div>
                <div class="year">2018</div>
                <div class="year">2019</div>
                <div class="year">2020</div>
                <div class="year">2021</div>
                <div class="year">2022</div>
                <div class="year">2023</div>
                <div class="year">2024</div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div class="foot-bg"></div>
<div class="foot-container">
    <div class="plate-center foot-content">
        <div class="foot-left">
            <img class="foot-logo" src="../image/footimg/ft-logo.png" alt="">
            <div foot-left-info>
                <p>聊城市文化创意产业协会</p>
                <p>聊城市文化创意产业公共服务平台</p>
                <p>C20城市文创产业合作发展联盟合作单位</p>
            </div>
        </div>
        <div class="foot-center">
            <div class="foot-link">
                <div class="foot-title">友情链接</div>
                <div class="foot-link-item-box">

                    <div id="menu1" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                    <div id="menu2" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                    <div id="menu3" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="foot-center-info">
                <div class="foot-center-info-item">
                    <p class="foot-title">指导单位</p>
                    <ul>
                        <li>
                            <span>中共聊城市委宣传部</span>
                        </li>
                        <li>
                            <span> 聊城市文化和旅游局</span>
                        </li>
                        <li><span>聊城市民政局(社会组织管理中心)</span></li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>聊城市文化创意产业协会</span>
                        </li>
                    </ul>
                    <p class="foot-title">承办单位</p>
                    <ul>
                        <li>
                            <span>秘书处.云上融媒中心</span>
                        </li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>山东康华传媒有限公司</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="foot-right">
            <div class="foot-address">中国
                <div style="font-size: 36px;text-align: center;line-height: 28px;color:#fff;margin: -1px 3px;">·</div>
                聊城经济技术开发区当代国际大厦16楼
            </div>
            <ul>
                <li>
                    <span>电话：</span>
                    <span>0635-8256026 8256022</span>
                </li>
                <li>
                    <span>邮箱：</span>
                    <span> sdlccia@163.com</span>
                </li>
                <li><span>http://www.sdlccia.com</span></li>
            </ul>
            <div class="foot-qrcode">
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方公众号</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方微博</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方视频号</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="website-records">
    <p>
        <span>Copyright © 2020－2030</span> 聊城市文化创意产业协会所有
        <span>· All Rights Reserved </span> 鲁ICP备
        <span>2020045966号-1</span>
        <img src="../image/footimg/record.png" alt=""> 鲁公网安备
        <sapn>11010502000728</sapn>
    </p>
</div>
<script src="../js/jq.js"></script>
<script src="../js/common.js"></script>
<script src="../js/pagination.js"></script>
<script>
    let eventItemW = 430;
    let eventTotal = $('.event-box').children().length;
    let currentActiveIndex = 0

    changeActiveByIndex(0);
    console.log("event总数:", eventTotal);
    $(".right").click(function () {
        console.log("right")
        changeActiveByIndex(currentActiveIndex + 1);
    })

    $(".left").click(function () {
        console.log("left")
        changeActiveByIndex(currentActiveIndex - 1);
    });

    // 鼠标经过active切换
    $('.event-item').click(function () {
        let currIndex = $(this).index();
        changeActiveByIndex(currIndex);
    });

    //    底部年份点击事件
    $('.year').mouseover(function () {
        let currIndex = $(this).index();
        changeActiveByIndex(currIndex);
    });


    /**
     * 根据index刷新active状态
     * @param index
     */
    function changeActiveByIndex(index) {
        changeBarByIndex(index);
        changeYearActiveByIndex(index);
        changeEventActiveByIndex(index);
        slideEventByIndex(index)
        currentActiveIndex = index;
        changeLRArrows(index);
    }
    /**
     * 修改左右箭头显示状态
     * @param index
     */
    function changeLRArrows(index) {
        if (eventTotal <= 1) {
            $(".left").hide();
            $(".right").hide();
            return
        }
        if (index == 0) {
            $(".left").hide();
            $(".right").show();
            return
        }
        if (index == eventTotal - 1) {
            $(".left").show();
            $(".right").hide();
            return
        }
        $(".left").show();
        $(".right").show();
    }
    /**
     * 根据index刷新进度条
     * @param index
     */
    function changeBarByIndex(index) {
        let total = $('.time-bottom').children().length;
        let ratio = (index + 1) * 100 / total;
        console.log("total:", total, "ratio", ratio);
        $('.time-bar').css('background', `linear-gradient(to right, #0066b0 ${ratio}%, #7c7c7c 0%)`);
    }
    /**
     * 根据inde获取应该滑动到的位置
     * @param index
     */
    function getProperSlideDistance(index) {
        if (eventTotal == 0) {
            return 0;
        }
        if (eventTotal == 1) {
            return 430;
        }
        if (eventTotal == 2) {
            return 215;
        }

        if (index == 0) {
            return 0;
        }
        if (index == eventTotal - 1) {
            return -(eventTotal - 3) * eventItemW;
        }
        return -eventItemW * (index - 1);
    }
    /**
     * 根据index滑动事件
     * @param index
     */
    function slideEventByIndex(index) {
        $('.event-box').css({
            'transform': `translateX(${getProperSlideDistance(index)}px)`
        });
    }

    /**
     * 根据index刷新active状态
     * @param index
     */
    function changeYearActiveByIndex(index) {
        let oldYear = $('.year[data-state="active"]');
        let newYear = $($('.time-bottom').children().get(index));
        console.log("newYear:", newYear.text());

        if (!newYear.is(oldYear)) {//非同一个
            oldYear.attr('data-state', '');//old置空
            newYear.attr('data-state', 'active');
        }
    }
    /**
     * 根据index刷新active状态
     * @param index
     */
    function changeEventActiveByIndex(index) {
        let oldEvent = $('.event-item[data-state="active"]');
        let newEvent = $($('.event-box').children().get(index));

        if (!newEvent.is(oldEvent)) {//非同一个
            oldEvent.attr('data-state', '');//old置空
            newEvent.attr('data-state', 'active');//当前选中置为active
        }
    }

</script>
</body>

</html>