<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

<header class="header-box">
    <div class="header-content plate-center">
        <div class="header-left">
            <img class="header-logo" src="../image/logo.png" alt="">
            <div class="header-nav">
                <a href="index.html" class="active">首页</a>
                <a href="xhgk.html">文创聊城</a>
                <a href="wczs.html">文创之声</a>
                <a href="wcdj.html">文创党建</a>
                <a href="ppwh.html">品牌文化</a>
                <a href="gxptfw.html">服务平台</a>
                <a href="hydw.html">会员单位</a>
                <a href="fzjg.html">分支机构</a>
                <a href="wcyx.html">文创影像</a>
            </div>
        </div>
        <div class="header-right">
            <div id="searchBtn" class="header-right-item">
                <img src="../image/search.png" alt="">
                <a class="search">搜索</a>
            </div>
            <div class="header-right-item">
                <img src="../image/user.png" alt="">
                <a href="">会员申请</a>
            </div>
        </div>

    </div>
    <div class="top-line"></div>

</header>
</body>
</html>