<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/swiper.min.js"></script>
</head>

<body>
<header class="header-box">
    <div class="header-content plate-center">
        <div class="header-left">
            <img class="header-logo" src="../image/logo.png" alt="">
            <div class="header-nav">
                <a>首页</a>
                <a>文创聊城</a>
                <a>文创之声</a>
                <a>文创党建</a>
                <a>品牌文化</a>
                <a>服务平台</a>
                <a>会员单位</a>
                <a>分支机构</a>
                <a>文创影像</a>
            </div>
        </div>
        <div class="header-right">
            <div class="header-right-item">
                <img src="../image/search.png" alt="">
                <a href="">搜索</a>
            </div>
            <div class="header-right-item">
                <img src="../image/user.png" alt="">
                <a href="">会员申请</a>
            </div>
        </div>

    </div>
    <div class="top-line"></div>

</header>
<!--<div class="top-line"></div>-->

<div class="top-swiper-box swiper-container">

    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="#" target="_blank">
                <!--<img src="../img/康华.png" alt="1">-->
                <img class="image"
                     src="https://fms.res.meizu.com/dms/2020/12/29/b60b64b5-36cb-49ef-a65a-312200fe0c2f.jpg">

            </a>
        </div>

        <div class="swiper-slide">
            <a href="#" target="_blank">
                <!--<img src="../img/康华.png" alt="1">-->
                <img class="image"
                     src="http://p1.music.126.net/rDGznthXp1hG7uFBZsQIAw==/109951165587570649.jpg?imageView&quality=100">

            </a>
        </div>

        <div class="swiper-slide">
            <a href="#" target="_blank">
                <!--<img src="../img/康华.png" alt="1">-->
                <img class="image"
                     src="http://p1.music.126.net/B_oI2SWzTfqFUVzQwAHkug==/109951165587537072.jpg?imageView&quality=100">

            </a>
        </div>


    </div>
    <div class="swiper-pagination"></div>
</div>

<!--

<div class="index-item-column">
    <div class="index-item-title">123</div>
    <div class="index-item-title-tips">32</div>

    <div class="image-swiper-box">
        <div class="image-swiper-item-box">
            <a class="image-swiper-item" href="">
                <img src="" alt="">
            </a>
        </div>

    </div>

</div>
-->


<div class="banner-advertisement">
    <a class="top-advertisement plate-center" href="">
        <img class="image" src="../image/广告条.png">
    </a>
</div>


<div class="news-box">
    <div class="news-box-left swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#" target="_blank">
                    <!--<img src="../img/康华.png" alt="1">-->
                    <img class="swiper-news-image"
                         src="../image/轮播.png">
                    <div class="news-swiper-bottom">2021 热爱再出发</div>
                </a>
            </div>

            <div class="swiper-slide">
                <a href="#" target="_blank">
                    <!--<img src="../img/康华.png" alt="1">-->
                    <img class="swiper-news-image"
                         src="http://p1.music.126.net/rDGznthXp1hG7uFBZsQIAw==/109951165587570649.jpg?imageView&quality=100">
                    <div class="news-swiper-bottom">游戏生活 跟我走吧</div>

                </a>
            </div>

            <div class="swiper-slide">
                <a href="#" target="_blank">
                    <!--<img src="../img/康华.png" alt="1">-->
                    <img class="swiper-news-image"
                         src="http://p1.music.126.net/B_oI2SWzTfqFUVzQwAHkug==/109951165587537072.jpg?imageView&quality=100">
                    <div class="news-swiper-bottom">四季与你</div>

                </a>
            </div>


        </div>
        <div class="swiper-pagination" style="z-index: 1"></div>


    </div>
    <div class="news-box-right">
        <div class="top-banner">
            <div class="item-active">协会新闻</div>
            <div class="item">会员动态</div>
            <div class="item">产业资讯</div>
        </div>
        <div class="news-list">
            <div class="news-list-item">
                <div class="date-box">
                    <div class="sp1">20</div>
                    <div class="sp2">12</div>
                    <div class="sp3">2020</div>
                </div>
                <div class="content-box">
                    <div class="title">第二届创意时尚"带动美"环球聚焦文创新梦盛典sssssssssssssssssssssssssss</div>
                    <div class="content">暨中国智慧城市国际博览会暨党支部书记,蓝色行动"做一天百分之一"参加22th香港国际影视.ssssssss</div>
                </div>
                <div class="img-wraper">
                    <img class="image" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
                </div>
            </div>
            <div class="news-list-item">
                <div class="date-box">
                    <div class="sp1">20</div>
                    <div class="sp2">12</div>
                    <div class="sp3">2020</div>
                </div>
                <div class="content-box">
                    <div class="title">创意试试昂环球聚焦文创新梦盛典</div>
                    <div class="content">暨中国智慧城市国际博览会暨党支部书记,蓝色行动"做一天百分之一"参加22th香港国际影视.</div>
                </div>
                <div class="img-wraper">
                    <img class="image" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
                </div>
            </div>
            <div class="news-list-item">
                <div class="date-box">
                    <div class="sp1">20</div>
                    <div class="sp2">12</div>
                    <div class="sp3">2020</div>
                </div>
                <div class="content-box">
                    <div class="title">创意试试昂环球聚焦文创新梦盛典</div>
                    <div class="content">暨中国智慧城市国际博览会暨党支部书记,蓝色行动"做一天百分之一"参加22th香港国际影视.</div>
                </div>
                <div class="img-wraper">
                    <img class="image" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
                </div>
            </div>
        </div>

    </div>
</div>
<div class="article-list-box">

    <div class="article-list">
        <div class="article-title">
            <div class="article-title-left">
                <img src="../image/ico.png" alt="">
                文创党建
            </div>
            <div class="article-title-right">MORE+</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视sdfasdafa sdf dffasd</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
    </div>
    <div class="article-list">
        <div class="article-title">
            <div class="article-title-left">
                <img src="../image/ico.png" alt="">
                文创新政
            </div>
            <div class="article-title-right">MORE+</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
    </div>
    <div class="article-list">
        <div class="article-title">
            <div class="article-title-left">
                <img src="../image/ico.png" alt="">
                文创人说
            </div>
            <div class="article-title-right">MORE+</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">sssfsdfsdfsdfsdfsdfsdfsfdsdf蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
    </div>

</div>

<div class="link-box">
    <div class="link-list">
        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="../image/文创项目库.png"
                 alt="">
        </a>
        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="../image/文创人才库.png"
                 alt="">
        </a>
        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="../image/非遗聊城%20(2).png"
                 alt="">
        </a>

        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="../image/水城礼好%20(2).png"
                 alt="">
        </a>
        <a class="link-item-wrapper-noright" href="http://baidu.com">
            <img class="link-item"
                 src="../image/水城之夜.png"
                 alt="">
        </a>
        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="../image/文创商学院.png"
                 alt="">
        </a>
        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="../image/文创项.png"
                 alt="">
        </a>
        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="../image/文创大学.png"
                 alt="">
        </a>
        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="../image/非遗聊城.png"
                 alt="">
        </a>
        <a class="link-item-wrapper-noright" href="http://baidu.com">
            <img class="link-item"
                 src="../image/水城礼好.png"
                 alt="">
        </a>

    </div>
</div>

<div class="wcyx-box">
    <div class="wcyx-title">文创影像</div>
    <div class="wcyx-nav">
        <a class="active">文创图片</a>
        <a class="wcyx-nav-line">/</a>
        <a>文创视频</a>
    </div>

    <!--<div class="wcyx-item">
        <div class="wcyx-video-box">
            <div class="wcyx-vide-img-box">
                <img src="../image/car.png" alt="">
                <img src="../image/car.png" alt="">
            </div>
            <div class="wcyx-vide-video-box">
                <video src="https://khcm-cn.oss-cn-hangzhou.aliyuncs.com/xy-teacher/other/2020/11/23/11b7a823916248a3a30fa3dfa4e9f12f.mp4"
                       poster="../image/videoimg.png"></video>
                &lt;!&ndash;<img src="../image/videoimg.png" alt="">&ndash;&gt;
            </div>
            <div class="wcyx-vide-img-box">
                <img src="../image/car.png" alt="">
                <img src="../image/car.png" alt="">
            </div>
        </div>
        <div class="wcyx-video-bottom-box">
            <div class="wcyx-video-bottom-img">
                <img src="../image/1.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../image/2.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../image/3.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../image/1.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../image/2.png" alt="">

            </div>
        </div>
        <div class="wcyx-video-bottom-box">
            <div class="wcyx-video-bottom-img">
                <img src="../image/3.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../image/1.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../image/2.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../image/3.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../image/1.png" alt="">

            </div>
        </div>
    </div>-->
    <div class="wcyx-item">
        <div class="wcyx-image-box">
            <div class="wcyx-image-box-in">
                <a href="wcyx-image-item">
                    <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2F725c03f7f1c7346291e8a4b7187e2b7ad762fd3c.jpg&refer=http%3A%2F%2Fi0.hdslb.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1611363979&t=730e786a324bc2c41db04dcd197432fe"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2732398824,2513794499&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2132814318,97105438&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3805616698,1649821627&fm=26&gp=0.jpg"
                         alt="">
                </a>

            </div>
        </div>


        <div class="wcyx-image-box">
            <div class="wcyx-image-box-in">
                <a href="wcyx-image-item">
                    <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2F725c03f7f1c7346291e8a4b7187e2b7ad762fd3c.jpg&refer=http%3A%2F%2Fi0.hdslb.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1611363979&t=730e786a324bc2c41db04dcd197432fe"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2732398824,2513794499&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2132814318,97105438&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3805616698,1649821627&fm=26&gp=0.jpg"
                         alt="">
                </a>

            </div>
        </div>

        <div class="wcyx-image-box">
            <div class="wcyx-image-box-in">
                <a href="wcyx-image-item">
                    <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2F725c03f7f1c7346291e8a4b7187e2b7ad762fd3c.jpg&refer=http%3A%2F%2Fi0.hdslb.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1611363979&t=730e786a324bc2c41db04dcd197432fe"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2732398824,2513794499&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2132814318,97105438&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3805616698,1649821627&fm=26&gp=0.jpg"
                         alt="">
                </a>

            </div>
        </div>

    </div>

</div>

<!--品牌文化&&分支机构-->
<div class="culture-organization-box">
    <div class="culture-organization-content">
        <div class="culture-box">
            <div class="article-title">
                <div class="article-title-left">
                    <img src="../image/ico.png" alt="">
                    品牌文化
                </div>
            </div>
            <div class="culture-list">
                <a class="culture-image-wrapper">
                    <img class="culture-image"
                         src="../image/1.png"
                         alt="">
                    <div class="desc">北半球埃菲尔的诱惑</div>
                </a>
                <a class="culture-image-wrapper">
                    <img class="culture-image"
                         src="../image/2.png"
                         alt="">
                    <div class="desc">北半球埃菲尔的诱惑</div>

                </a>
                <a class="culture-image-wrapper-not-right">
                    <img class="culture-image"
                         src="../image/3.png"
                         alt="">
                    <div class="desc">北半球埃菲尔的诱惑</div>

                </a>
                <a class="culture-image-wrapper">
                    <img class="culture-image"
                         src="../image/3.png"
                         alt="">
                    <div class="desc">北半球埃菲尔的诱惑</div>

                </a>
                <a class="culture-image-wrapper">
                    <img class="culture-image"
                         src="../image/1.png"
                         alt="">
                    <div class="desc">北半球埃菲尔的诱惑</div>

                </a>
                <a class="culture-image-wrapper-not-right">
                    <img class="culture-image"
                         src="../image/2.png"
                         alt="">
                    <div class="desc">北半球埃菲尔的诱惑</div>

                </a>
            </div>
        </div>
        <div class="article-list">
            <div class="article-title">
                <div class="article-title-left">
                    <img src="../image/ico.png" alt="">
                    分支机构
                </div>
                <!--<div class="article-title-right">MORE+</div>-->
            </div>
            <div class="organization-item-list-box">
                <div class="organization-item-list">
                    <div class="organization-item">
                        <img class="organization-item-icon"
                             src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg">
                        <div class="organization-item-right">
                            <div class="organization-item-title">聊城市全民阅读促进委员会</div>
                            <div class="organization-item-desc">通过为企业组织打造从客户体验,数据实时采集,结果智能呈现,改善行动落地的闭环</div>
                        </div>
                    </div>
                    <div class="organization-item">
                        <img class="organization-item-icon"
                             src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg">
                        <div class="organization-item-right">
                            <div class="organization-item-title">聊城市全民阅读促进委员会</div>
                            <div class="organization-item-desc">通过为企业组织打造从客户体验,数据实时采集,结果智能呈现,改善行动落地的闭环</div>
                        </div>
                    </div>
                    <div class="organization-item">
                        <img class="organization-item-icon"
                             src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg">
                        <div class="organization-item-right">
                            <div class="organization-item-title">聊城市全民阅读促进委员会</div>
                            <div class="organization-item-desc">通过为企业组织打造从客户体验,数据实时采集,结果智能呈现,改善行动落地的闭环</div>
                        </div>
                    </div>
                    <div class="organization-item">
                        <img class="organization-item-icon"
                             src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg">
                        <div class="organization-item-right">
                            <div class="organization-item-title">聊城市全民阅读促进委员会</div>
                            <div class="organization-item-desc">通过为企业组织打造从客户体验,数据实时采集,结果智能呈现,改善行动落地的闭环</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<div class="index-item-column">
    <div class="index-item-title">服务平台</div>
    <div class="index-item-title-tips">路过去探索见闻,陌路人变得必有份好感</div>

    <div class="article-list-box" style="padding-bottom: 0">

        <div class="article-list">
            <div class="article-title">
                <div class="article-title-left">
                    <img src="../image/ico.png" alt="">
                    供应链平台
                </div>
                <div class="article-title-right">MORE+</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right-txt">康华传媒</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right-txt">林尚家具服务</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视水电费水电费水电费山东</div>
                </div>
                <div class="article-item-right-txt">中南海地下车库里面</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视水</div>
                </div>
                <div class="article-item-right-txt">中南海地下车库里面</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right-txt">林尚家具服务</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right-txt">林尚家具服务</div>
            </div>
        </div>
        <div class="article-list">
            <div class="article-title">
                <div class="article-title-left">
                    <img src="../image/ico.png" alt="">
                    文创人才需求
                </div>
                <div class="article-title-right">MORE+</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title-only">蓝色行动"做一天百分之一"参加国际影视道森股份的国防生的个</div>
                </div>
                <!--<div class="article-item-right">2020-12-28</div>-->
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title-only">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <!--<div class="article-item-right">2020-12-28</div>-->
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title-only">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <!--<div class="article-item-right">2020-12-28</div>-->
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title-only">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <!--<div class="article-item-right">2020-12-28</div>-->
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title-only">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <!--<div class="article-item-right">2020-12-28</div>-->
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title-only">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <!--<div class="article-item-right">2020-12-28</div>-->
            </div>
        </div>
        <div class="article-list">
            <div class="article-title">
                <div class="article-title-left">
                    <img src="../image/ico.png" alt="">
                    投融资需求
                </div>
                <div class="article-title-right">MORE+</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right-txt">康华传媒</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right-txt">林尚家具服务</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right-txt">山东康华传媒</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right-txt">林尚家具服务</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right-txt">林尚家具服务</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right-txt">林尚家具服务</div>
            </div>
        </div>

    </div>
    <div class="tab-box">
        <div class="tab"></div>
        <div class="tab-active"></div>
    </div>
</div>

<div class="banner-advertisement2">
    <a class="top-advertisement plate-center" href="">
        <img class="image" src="../image/广告条.png">
    </a>
</div>
<div class="leader-box">
    <div class="index-item-title">协会领导</div>
    <div class="index-item-title-tips">领导的领,领导的导</div>
    <div class="swiper-container people-box">
        <div class="swiper-wrapper">
            <div class="people-item swiper-slide">
                <img src="../image/领导.png">
                <div class="people-item-bottom">
                    <div class="people-item-bottom-content">
                        <div>林俊杰</div>
                        <div class="people-item-bottom-line"></div>
                        <div class="people-item-right">
                            <div>策划部长</div>
                            <div>文创领域监理人</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="people-item swiper-slide">
                <img src="../image/领导.png">
            </div>
            <div class="people-item swiper-slide">
                <img src="../image/领导.png">
            </div>
            <div class="people-item swiper-slide">
                <img src="../image/领导.png">
            </div>
            <div class="people-item swiper-slide">
                <img src="../image/领导.png">
            </div>
            <div class="people-item swiper-slide">
                <img src="../image/领导.png">
            </div>

        </div>
        <div class="s4-prev-1 swiper-button-prev">
        </div>
        <div class="s4-next-1 swiper-button-next">
        </div>
    </div>
</div>

<div class="index-item-column">
    <div class="index-item-title">会员单位</div>
    <div class="index-item-title-tips">你是会员,啦啦啦啦!</div>

    <div class="company-list">
        <a class="one">
            <img src="../image/company/组46.png">
        </a>
        <a class="two">
            <img src="../image/company/组28.png">
        </a>
        <a class="two">
            <img src="../image/company/组44.png">
        </a>
        <a class="two">
            <img src="../image/company/组34.png">
        </a>
        <a class="one">
            <img src="../image/company/组49.png">

        </a>
        <a class="one">
            <img src="../image/company/组51.png">

        </a>
        <a class="two">
            <img src="../image/company/组50.png">

        </a>
        <a class="one">
            <img src="../image/company/组43.png">

        </a>

        <a class="two">
            <img src="../image/company/组39.png">

        </a>
        <a class="two">
            <img src="../image/company/组40.png">

        </a>
        <a class="two">
            <img src="../image/company/组55.png">

        </a>
        <a class="two"> <img src="../image/company/组56.png">
        </a>
        <a class="two"> <img src="../image/company/组57.png">
        </a>
        <a class="two"> <img src="../image/company/组58.png">
        </a>
        <a class="two"> <img src="../image/company/组59.png">
        </a>
        <a class="two"> <img src="../image/company/组28.png">
        </a>
        <a class="one"> <img src="../image/company/组31.png">
        </a>
        <a class="two"> <img src="../image/company/组33.png">
        </a>
        <a class="two"> <img src="../image/company/组34.png">
        </a>
        <a class="one"> <img src="../image/company/组35.png">
        </a>
        <a class="two"> <img src="../image/company/组37.png">
        </a>
        <a class="one"> <img src="../image/company/组36.png">
        </a>

        <a class="one"> <img src="../image/company/组52.png">
        </a>
        <a class="two"> <img src="../image/company/组53.png">
        </a>
        <a class="two"> <img src="../image/company/组54.png">
        </a>
        <a class="two"> <img src="../image/company/组55.png">
        </a>
        <a class="two"> <img src="../image/company/组56.png">
        </a>
        <a class="two"> <img src="../image/company/组57.png">
        </a>
        <a class="two"> <img src="../image/company/组58.png">
        </a>
        <a class="two"> <img src="../image/company/组59.png">
        </a>
    </div>
</div>
<!-- footer -->
<div class="foot-bg"></div>
<div class="foot-container">
    <div class="plate-center foot-content">
        <div class="foot-left">
            <img class="foot-logo" src="../image/footimg/ft-logo.png" alt="">
            <div foot-left-info>
                <p>聊城市文化创意产业协会</p>
                <p>聊城市文化创意产业公共服务平台</p>
                <p>C20城市文创产业合作发展联盟合作单位</p>
            </div>
        </div>
        <div class="foot-center">
            <div class="foot-link">
                <div class="foot-title">友情链接</div>
                <div class="foot-link-item-box">

                    <div class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                    </div>
                    <div class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                    </div>
                    <div class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                    </div>
                </div>
            </div>
            <div class="foot-center-info">
                <div class="foot-center-info-item">
                    <p class="foot-title">指导单位</p>
                    <ul>
                        <li>
                            <span>中共聊城市委宣传部</span>
                        </li>
                        <li>
                            <span> 聊城市文化和旅游局</span>
                        </li>
                        <li><span>聊城市民政局(社会组织管理中心)</span></li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>聊城市文化创意产业协会</span>
                        </li>
                    </ul>
                    <p class="foot-title">承办单位</p>
                    <ul>
                        <li>
                            <span>秘书处.云上融媒中心</span>
                        </li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>山东康华传媒有限公司</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="foot-right">
            <div class="foot-address">中国
                <div style="font-size: 36px;text-align: center;line-height: 28px;color:#fff;margin: -1px 3px;">·</div>
                聊城经济技术开发区当代国际大厦16楼
            </div>
            <ul>
                <li>
                    <span>电话：</span>
                    <span>0635-8256026  8256022</span>
                </li>
                <li>
                    <span>邮箱：</span>
                    <span> sdlccia@163.com</span>
                </li>
                <li><span>http://www.sdlccia.com</span></li>
            </ul>
            <div class="foot-qrcode">
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方公众号</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方微博</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方视频号</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="website-records">
    <p>
        <span>Copyright © 2020－2030</span> 聊城市文化创意产业协会所有
        <span>· All Rights Reserved </span> 鲁ICP备
        <span>2020045966号-1</span>
        <img src="../image/footimg/record.png" alt=""> 鲁公网安备
        <sapn>11010502000728</sapn>
    </p>
</div>

<script src="../js/jq.js"></script>
<script>
    const swiperHeader = new Swiper('.swiper-container.top-swiper-box', {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        }
    });
    const swiperNews = new Swiper('.swiper-container.news-box-left', {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        autoplay: {
            delay: 6000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            bulletClass: 'my-swiper-pagination-bullet',
            bulletActiveClass: 'my-swiper-pagination-bullet-active'
        }
    });

    const swiperPeople = new Swiper('.swiper-container.people-box', {
        autoplay: false,//可选选项，自动滑动
        loop: true,
        slidesPerView: 'auto',
        slidesPerGroup: 2,
        loopedSlides: 6,
        spaceBetween: 40,
        navigation: {
            nextEl: '.people-box .s4-next-1',
            prevEl: '.people-box .s4-prev-1',
        },
        observer: true,
        observeParents: true,
    });


    let imageSwiperList = $(".wcyx-image-box-in")
    for (i = 0; i < imageSwiperList.length; i++) {
        createImgSwiper(imageSwiperList[i], {right: 10, originDistance: i % 2 * 140})
    }

    createNewsSwiper($(".organization-item-list"), {speed: 1, padding: 20})

    function createImgSwiper(dom, config) {
        let {right = 10, speed = 1, originDistance = 0} = config
        let itemLen = $(dom).find('a').length
        let itemWidth = $(dom).find('a').width()
        let domWidth = (itemWidth + right) * itemLen
        let distance = originDistance
        let key = true
        $(dom).find('a').clone().appendTo(dom);
        $(dom).find('a').hover(function () {
            key = false
        }, function () {
            key = true
        });
        function render() {
            if (!key) return
            distance += speed
            $(dom).css({
                'transform': 'translateX(-' + distance + 'px)'
            })
            // let cWidth = document.body.clientWidth;
            if (distance >= domWidth) {
                distance = 0
            }
        }

        //每16ms执行一次
        (function animloop() {
            render();
            window.requestAnimationFrame(animloop);
        })()
    }

    // test竖向新闻列表滚动
    function createNewsSwiper(dom, config) {
        let {speed = 1, padding = 20} = config
        let itemLen = $(dom).find('.organization-item').length
        let itemHeight = $(dom).find('.organization-item').height()
        let domHeight = (itemHeight + 2 * padding) * itemLen
        let distance = 0
        let key = true
        $(dom).find('.organization-item').clone().appendTo(dom);
        $(dom).find('.organization-item').hover(function () {
            key = false
        }, function () {
            key = true
        });
        function render() {
            if (!key) return
            distance += speed
            $(dom).css({
                'transform': 'translateY(-' + distance + 'px)'
            })
            // let cWidth = document.body.clientWidth;
            if (distance >= domHeight) {
                distance = 0
            }
        }

        //每16ms执行一次
        (function animloop() {
            render();
            window.requestAnimationFrame(animloop);
        })()
    }
</script>

</body>

</html>