<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/swiper.min.js"></script>
</head>

<body>
<header class="header-box">
    <div class="header-content plate-center">
        <div class="header-left">
            <img class="header-logo" src="../images/logo.png" alt="">
            <div class="header-nav">
                <a>首页</a>
                <a>文创聊城</a>
                <a>文创之声</a>
                <a>文创党建</a>
                <a>品牌文化</a>
                <a>服务平台</a>
                <a>会员单位</a>
                <a>分支机构</a>
                <a>文创影像</a>
            </div>
        </div>
        <div class="header-right">
            <div class="header-right-item">
                <img src="../images/search.png" alt="">
                <a href="">搜索</a>
            </div>
            <div class="header-right-item">
                <img src="../images/user.png" alt="">
                <a href="">会员申请</a>
            </div>
        </div>

    </div>
    <div class="top-line"></div>

</header>
<!--<div class="top-line"></div>-->

<div class="top-swiper-box swiper-container">

    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="#" target="_blank">
                <!--<img src="../img/康华.png" alt="1">-->
                <img class="image"
                     src="https://fms.res.meizu.com/dms/2020/12/29/b60b64b5-36cb-49ef-a65a-312200fe0c2f.jpg">

            </a>
        </div>

        <div class="swiper-slide">
            <a href="#" target="_blank">
                <!--<img src="../img/康华.png" alt="1">-->
                <img class="image"
                     src="http://p1.music.126.net/rDGznthXp1hG7uFBZsQIAw==/109951165587570649.jpg?imageView&quality=100">

            </a>
        </div>

        <div class="swiper-slide">
            <a href="#" target="_blank">
                <!--<img src="../img/康华.png" alt="1">-->
                <img class="image"
                     src="http://p1.music.126.net/B_oI2SWzTfqFUVzQwAHkug==/109951165587537072.jpg?imageView&quality=100">

            </a>
        </div>


    </div>
    <div class="swiper-pagination"></div>
</div>

<!--

<div class="index-item-column">
    <div class="index-item-title">123</div>
    <div class="index-item-title-tips">32</div>

    <div class="image-swiper-box">
        <div class="image-swiper-item-box">
            <a class="image-swiper-item" href="">
                <img src="" alt="">
            </a>
        </div>

    </div>

</div>
-->


<div class="banner-advertisement">
    <a class="top-advertisement plate-center" href="">
        <img class="image" src="../images/广告条.png">
    </a>
</div>


<div class="news-box">
    <div class="news-box-left swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#" target="_blank">
                    <!--<img src="../img/康华.png" alt="1">-->
                    <img class="swiper-news-image"
                         src="https://fms.res.meizu.com/dms/2020/12/29/b60b64b5-36cb-49ef-a65a-312200fe0c2f.jpg">
                    <div class="news-swiper-bottom">2021 热爱再出发</div>
                </a>
            </div>

            <div class="swiper-slide">
                <a href="#" target="_blank">
                    <!--<img src="../img/康华.png" alt="1">-->
                    <img class="swiper-news-image"
                         src="http://p1.music.126.net/rDGznthXp1hG7uFBZsQIAw==/109951165587570649.jpg?imageView&quality=100">
                    <div class="news-swiper-bottom">游戏生活 跟我走吧</div>

                </a>
            </div>

            <div class="swiper-slide">
                <a href="#" target="_blank">
                    <!--<img src="../img/康华.png" alt="1">-->
                    <img class="swiper-news-image"
                         src="http://p1.music.126.net/B_oI2SWzTfqFUVzQwAHkug==/109951165587537072.jpg?imageView&quality=100">
                    <div class="news-swiper-bottom">四季与你</div>

                </a>
            </div>


        </div>
        <div class="swiper-pagination" style="z-index: 1"></div>


    </div>
    <div class="news-box-right">
        <div class="top-banner">
            <div class="item-active">协会新闻</div>
            <div class="item">会员动态</div>
            <div class="item">产业资讯</div>
        </div>
        <div class="news-list">
            <div class="news-list-item">
                <div class="date-box">
                    <div class="sp1">20</div>
                    <div class="sp2">12</div>
                    <div class="sp3">2020</div>
                </div>
                <div class="content-box">
                    <div class="title">第二届创意时尚"带动美"环球聚焦文创新梦盛典sssssssssssssssssssssssssss</div>
                    <div class="content">暨中国智慧城市国际博览会暨党支部书记,蓝色行动"做一天百分之一"参加22th香港国际影视.ssssssss</div>
                </div>
                <div class="img-wraper">
                    <img class="image" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
                </div>
            </div>
            <div class="news-list-item">
                <div class="date-box">
                    <div class="sp1">20</div>
                    <div class="sp2">12</div>
                    <div class="sp3">2020</div>
                </div>
                <div class="content-box">
                    <div class="title">创意试试昂环球聚焦文创新梦盛典</div>
                    <div class="content">暨中国智慧城市国际博览会暨党支部书记,蓝色行动"做一天百分之一"参加22th香港国际影视.</div>
                </div>
                <div class="img-wraper">
                    <img class="image" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
                </div>
            </div>
            <div class="news-list-item">
                <div class="date-box">
                    <div class="sp1">20</div>
                    <div class="sp2">12</div>
                    <div class="sp3">2020</div>
                </div>
                <div class="content-box">
                    <div class="title">创意试试昂环球聚焦文创新梦盛典</div>
                    <div class="content">暨中国智慧城市国际博览会暨党支部书记,蓝色行动"做一天百分之一"参加22th香港国际影视.</div>
                </div>
                <div class="img-wraper">
                    <img class="image" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
                </div>
            </div>
        </div>

    </div>
</div>
<div class="article-list-box">

    <div class="article-list">
        <div class="article-title">
            <div class="article-title-left">
                <img src="../images/ico.png" alt="">
                供应链平台
            </div>
            <div class="article-title-right">MORE+</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视sdfasdafa sdf dffasd</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
    </div>
    <div class="article-list">
        <div class="article-title">
            <div class="article-title-left">
                <img src="../images/ico.png" alt="">
                供应链平台
            </div>
            <div class="article-title-right">MORE+</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
    </div>
    <div class="article-list">
        <div class="article-title">
            <div class="article-title-left">
                <img src="../images/ico.png" alt="">
                供应链平台
            </div>
            <div class="article-title-right">MORE+</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">sssfsdfsdfsdfsdfsdfsdfsfdsdf蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
        <div class="article-item">
            <div class="article-item-left">
                <div class="article-item-decorate"></div>
                <div class="article-item-title">ss蓝色行动"做一天百分之一"参加国际影视</div>
            </div>
            <div class="article-item-right">2020-12-28</div>
        </div>
    </div>

</div>

<div class="link-box">
    <div class="link-list">
        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                 alt="">
        </a>
        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                 alt="">
        </a>
        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                 alt="">
        </a>

        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                 alt="">
        </a>
        <a class="link-item-wrapper-noright" href="http://baidu.com">
            <img class="link-item"
                 src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                 alt="">
        </a>
        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                 alt="">
        </a>
        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                 alt="">
        </a>
        <a class="link-item-wrapper" href="http://baidu.com">
            <img class="link-item"
                 src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                 alt="">
        </a>

    </div>
</div>

<div class="wcyx-box">
    <div class="wcyx-title">文创影像</div>
    <div class="wcyx-nav">
        <a class="active">文创图片</a>
        <a class="wcyx-nav-line">/</a>
        <a>文创视频</a>
    </div>

    <!--<div class="wcyx-item">
        <div class="wcyx-video-box">
            <div class="wcyx-vide-img-box">
                <img src="../images/car.png" alt="">
                <img src="../images/car.png" alt="">
            </div>
            <div class="wcyx-vide-video-box">
                <video src="https://khcm-cn.oss-cn-hangzhou.aliyuncs.com/xy-teacher/other/2020/11/23/11b7a823916248a3a30fa3dfa4e9f12f.mp4"
                       poster="../images/videoimg.png"></video>
                &lt;!&ndash;<img src="../images/videoimg.png" alt="">&ndash;&gt;
            </div>
            <div class="wcyx-vide-img-box">
                <img src="../images/car.png" alt="">
                <img src="../images/car.png" alt="">
            </div>
        </div>
        <div class="wcyx-video-bottom-box">
            <div class="wcyx-video-bottom-img">
                <img src="../images/1.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../images/2.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../images/3.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../images/1.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../images/2.png" alt="">

            </div>
        </div>
        <div class="wcyx-video-bottom-box">
            <div class="wcyx-video-bottom-img">
                <img src="../images/3.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../images/1.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../images/2.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../images/3.png" alt="">

            </div>
            <div class="wcyx-video-bottom-img">
                <img src="../images/1.png" alt="">

            </div>
        </div>
    </div>-->
    <div class="wcyx-item">
        <div class="wcyx-image-box">
            <div class="wcyx-image-box-in">
                <a href="wcyx-image-item">
                    <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2F725c03f7f1c7346291e8a4b7187e2b7ad762fd3c.jpg&refer=http%3A%2F%2Fi0.hdslb.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1611363979&t=730e786a324bc2c41db04dcd197432fe"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2732398824,2513794499&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2132814318,97105438&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3805616698,1649821627&fm=26&gp=0.jpg"
                         alt="">
                </a>

            </div>
        </div>


        <div class="wcyx-image-box">
            <div class="wcyx-image-box-in">
                <a href="wcyx-image-item">
                    <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2F725c03f7f1c7346291e8a4b7187e2b7ad762fd3c.jpg&refer=http%3A%2F%2Fi0.hdslb.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1611363979&t=730e786a324bc2c41db04dcd197432fe"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2732398824,2513794499&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2132814318,97105438&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3805616698,1649821627&fm=26&gp=0.jpg"
                         alt="">
                </a>

            </div>
        </div>

        <div class="wcyx-image-box">
            <div class="wcyx-image-box-in">
                <a href="wcyx-image-item">
                    <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2F725c03f7f1c7346291e8a4b7187e2b7ad762fd3c.jpg&refer=http%3A%2F%2Fi0.hdslb.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1611363979&t=730e786a324bc2c41db04dcd197432fe"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2732398824,2513794499&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2132814318,97105438&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a href="wcyx-image-item">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3805616698,1649821627&fm=26&gp=0.jpg"
                         alt="">
                </a>

            </div>
        </div>

    </div>

</div>

<!--品牌文化&&分支机构-->
<div class="culture-organization-box">
    <div class="culture-organization-content">
        <div class="culture-box">
            <div class="article-title">
                <div class="article-title-left">品牌文化</div>
            </div>
            <div class="culture-list">
                <a class="culture-image-wrapper">
                    <img class="culture-image"
                         src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a class="culture-image-wrapper">
                    <img class="culture-image"
                         src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a class="culture-image-wrapper-not-right">
                    <img class="culture-image"
                         src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a class="culture-image-wrapper">
                    <img class="culture-image"
                         src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a class="culture-image-wrapper">
                    <img class="culture-image"
                         src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                         alt="">
                </a>
                <a class="culture-image-wrapper-not-right">
                    <img class="culture-image"
                         src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg"
                         alt="">
                </a>
            </div>
        </div>
        <div class="article-list">
            <div class="article-title">
                <div class="article-title-left">
                    <img src="../images/ico.png" alt="">
                    分支机构
                </div>
                <!--<div class="article-title-right">MORE+</div>-->
            </div>
            <div class="organization-item-list-box">
                <div class="organization-item-list">
                    <div class="organization-item">
                        <img class="organization-item-icon"
                             src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg">
                        <div class="organization-item-right">
                            <div class="organization-item-title">聊城市全民阅读促进委员会</div>
                            <div class="organization-item-desc">通过为企业组织打造从客户体验,数据实时采集,结果智能呈现,改善行动落地的闭环</div>
                        </div>
                    </div>
                    <div class="organization-item">
                        <img class="organization-item-icon"
                             src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg">
                        <div class="organization-item-right">
                            <div class="organization-item-title">聊城市全民阅读促进委员会</div>
                            <div class="organization-item-desc">通过为企业组织打造从客户体验,数据实时采集,结果智能呈现,改善行动落地的闭环</div>
                        </div>
                    </div>
                    <div class="organization-item">
                        <img class="organization-item-icon"
                             src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg">
                        <div class="organization-item-right">
                            <div class="organization-item-title">聊城市全民阅读促进委员会</div>
                            <div class="organization-item-desc">通过为企业组织打造从客户体验,数据实时采集,结果智能呈现,改善行动落地的闭环</div>
                        </div>
                    </div>
                    <div class="organization-item">
                        <img class="organization-item-icon"
                             src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1532337792,3839109562&fm=26&gp=0.jpg">
                        <div class="organization-item-right">
                            <div class="organization-item-title">聊城市全民阅读促进委员会</div>
                            <div class="organization-item-desc">通过为企业组织打造从客户体验,数据实时采集,结果智能呈现,改善行动落地的闭环</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<div class="index-item-column">
    <div class="index-item-title">服务平台</div>
    <div class="index-item-title-tips">路过去探索见闻,陌路人变得必有份好感</div>

    <div class="article-list-box" style="padding-bottom: 0">

        <div class="article-list">
            <div class="article-title">
                <div class="article-title-left">
                    <img src="../images/ico.png" alt="">
                    供应链平台
                </div>
                <div class="article-title-right">MORE+</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
        </div>
        <div class="article-list">
            <div class="article-title">
                <div class="article-title-left">
                    <img src="../images/ico.png" alt="">
                    供应链平台
                </div>
                <div class="article-title-right">MORE+</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
        </div>
        <div class="article-list">
            <div class="article-title">
                <div class="article-title-left">
                    <img src="../images/ico.png" alt="">
                    供应链平台
                </div>
                <div class="article-title-right">MORE+</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
            <div class="article-item">
                <div class="article-item-left">
                    <div class="article-item-decorate"></div>
                    <div class="article-item-title">蓝色行动"做一天百分之一"参加国际影视</div>
                </div>
                <div class="article-item-right">2020-12-28</div>
            </div>
        </div>

    </div>
    <div class="tab-box">
        <div class="tab"></div>
        <div class="tab-active"></div>
    </div>
</div>

<div class="banner-advertisement2">
    <a class="top-advertisement plate-center" href="">
        <img class="image" src="../images/广告条.png">
    </a>
</div>
<div class="index-item-column">
    <div class="index-item-title">协会领导</div>
    <div class="index-item-title-tips">领导的领,领导的导</div>
    <div class="swiper-container people-box">
        <div class="swiper-wrapper">
            <div class="people-item swiper-slide"></div>
            <div class="people-item swiper-slide"></div>
            <div class="people-item swiper-slide"></div>
            <div class="people-item swiper-slide"></div>
            <div class="people-item swiper-slide"></div>
            <div class="people-item swiper-slide"></div>
            <div class="people-item swiper-slide"></div>
        </div>
        <div class="s4-prev-1 swiper-button-prev">
        </div>
        <div class="s4-next-1 swiper-button-next">
        </div>
    </div>
</div>

<div class="index-item-column">
    <div class="index-item-title">123</div>
    <div class="index-item-title-tips">32</div>

    <div class="factory-list">
        <div class="one"></div>
        <div class="two"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


<script src="../js/jq.js"></script>
<script>
    const swiperHeader = new Swiper('.swiper-container.top-swiper-box', {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        }
    });
    const swiperNews = new Swiper('.swiper-container.news-box-left', {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            bulletClass: 'my-swiper-pagination-bullet',
            bulletActiveClass: 'my-swiper-pagination-bullet-active'
        }
    });

    const swiperPeople = new Swiper('.swiper-container.people-box', {
        autoplay: false,//可选选项，自动滑动
        loop: true,
        slidesPerView: 'auto',
        slidesPerGroup: 2,
        loopedSlides: 6,
        spaceBetween: 40,
        navigation: {
            nextEl: '.people-box .s4-next-1',
            prevEl: '.people-box .s4-prev-1',
        },
        observer: true,
        observeParents: true,
    });


    let imageSwiperList = $(".wcyx-image-box-in")
    for (i = 0; i < imageSwiperList.length; i++) {
        createImgSwiper(imageSwiperList[i], {right: 10, originDistance: i % 2 * 140})
    }

    createNewsSwiper($(".organization-item-list"), {speed: 1, padding: 20})

    function createImgSwiper(dom, config) {
        let {right = 10, speed = 1, originDistance = 0} = config
        let itemLen = $(dom).find('a').length
        let itemWidth = $(dom).find('a').width()
        let domWidth = (itemWidth + right) * itemLen
        let distance = originDistance
        let key = true
        $(dom).find('a').clone().appendTo(dom);
        $(dom).find('a').hover(function () {
            key = false
        }, function () {
            key = true
        });
        function render() {
            if (!key) return
            distance += speed
            $(dom).css({
                'transform': 'translateX(-' + distance + 'px)'
            })
            // let cWidth = document.body.clientWidth;
            if (distance >= domWidth) {
                distance = 0
            }
        }

        //每16ms执行一次
        (function animloop() {
            render();
            window.requestAnimationFrame(animloop);
        })()
    }

    // test竖向新闻列表滚动
    function createNewsSwiper(dom, config) {
        let {speed = 1, padding = 20} = config
        let itemLen = $(dom).find('.organization-item').length
        let itemHeight = $(dom).find('.organization-item').height()
        let domHeight = (itemHeight + 2 * padding) * itemLen
        let distance = 0
        let key = true
        $(dom).find('.organization-item').clone().appendTo(dom);
        $(dom).find('.organization-item').hover(function () {
            key = false
        }, function () {
            key = true
        });
        function render() {
            if (!key) return
            distance += speed
            $(dom).css({
                'transform': 'translateY(-' + distance + 'px)'
            })
            // let cWidth = document.body.clientWidth;
            if (distance >= domHeight) {
                distance = 0
            }
        }

        //每16ms执行一次
        (function animloop() {
            render();
            window.requestAnimationFrame(animloop);
        })()
    }
</script>

</body>

</html>