<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>金融产品</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/jrcp.css">
</head>

<body>
<div class="search-box" style="display: none">
    <div class="search-plate">
        <img class="clear" src="../image/close.png">
        <input id="searchInput" placeholder="请输入关键词">
        <div class="desc">按Enter键进行搜索后Esc键关闭</div>
        <div class="recommend-title">#推荐搜索#
        </div>
        <div class="search-tag-box">
            <div class="search-tag">协会大事记</div>
            <div class="search-tag">未来感</div>
            <div class="search-tag">理事单位</div>
            <div class="search-tag">童年茴香</div>
            <div class="search-tag">家乡美味</div>
        </div>
    </div>
</div>

<header class="header-box">
    <div class="header-content plate-center">
        <div class="header-left">
            <img class="header-logo" src="../image/logo.png" alt="">
            <div class="header-nav">
                <a href="index.html" class="active">首页</a>
                <a href="xhgk.html">文创聊城</a>
                <a href="wczs.html">文创之声</a>
                <a href="wcdj.html">文创党建</a>
                <a href="ppwh.html">品牌文化</a>
                <a href="gxptfw.html">服务平台</a>
                <a href="hydw.html">会员单位</a>
                <a href="fzjg.html">分支机构</a>
                <a href="wcyx.html">文创影像</a>
            </div>
        </div>
        <div class="header-right">
            <div id="searchBtn" class="header-right-item">
                <img src="../image/search.png" alt="">
                <a class="search">搜索</a>
            </div>
            <div class="header-right-item">
                <img src="../image/user.png" alt="">
                <a href="">会员申请</a>
            </div>
        </div>

    </div>
    <div class="top-line"></div>

</header>

<div class="top-banner-box">
    <div class="top-banner-title">发展历程</div>
    <div class="top-banner-line"></div>
    <div class="top-banner-desc">INFORMATION</div>
</div>

<div class="top-nav-box">
    <div class="plate-center">
        <div class="top-nav">
            <a href="gxptfw.html" class="top-nav-item-active">供需平台服务</a>
            <a href="szsyfw.html" class="top-nav-item">双招双引服务</a>
            <a href="yxpxfw.html" class="top-nav-item">研学培训服务</a>
            <a href="whjrfw.html" class="top-nav-item">文化金融服务</a>
            <a href="zscqfw.html" class="top-nav-item">知识产权服务</a>
        </div>
    </div>
</div>

<!-- branch  agency-->
    <div class="finance-product-container">
        <div class="plate-center content-box">
            <div class="content-left-box">
                <div class="main-nav-wrapper">
                    <ul class="clearfix nav-bar">
                        <li>融资需求</li>
                        <li class="cut-line"></li>
                        <li class="active">金融产品</li>
                        <li class="cut-line"></li>
                    </ul>
                    <div>
                        <ul class="tags-area">
                            <li class="tag-row tag-row-show2line">
                                <div class="row-head">
                                    <span class="title">投资领域:</span>
                                </div>
                                <ul class="clearfix row-body">
                                    <li class="active">
                                        <a href="">文化艺术服务</a>
                                    </li>
                                    <li>
                                        <a href="">新闻出版及发行服务</a>
                                    </li>
                                    <li>
                                        <a href="">广播电视电影服务</a>
                                    </li>
                                    <li>
                                        <a href="">软件和信息技术服务</a>
                                    </li>
                                    <li>
                                        <a href="">广告和会展服务</a>
                                    </li>
                                    <li>
                                        <a href="">艺术品生成和销售服务</a>
                                    </li>
                                    <li>
                                        <a href="">设计服务</a>
                                    </li>
                                    <li>
                                        <a href="">文化休闲与娱乐服务</a>
                                    </li>
                                    <li>
                                        <a href="">文化用品设备生产销售及其它辅助服务</a>
                                    </li>

                                </ul>
                                <div class="row-foot"><span class="more-btn">收起<i></i></span></div>
                            </li>
                            <li class="tag-row tag-row-show2line">
                                <div class="row-head">
                                    <span class="title">产品类型:</span>
                                </div>
                                <ul class="clearfix row-body">
                                    <li>
                                        <a href="">信贷产品</a>
                                    </li>
                                    <li>
                                        <a href="">担保品</a>
                                    </li>
                                    <li>
                                        <a href="">债券</a>
                                    </li>
                                    <li>
                                        <a href="">信托产品</a>
                                    </li>
                                    <li>
                                        <a href="">小额贷产品</a>
                                    </li>
                                    <li class="active">
                                        <a href="">融资租赁</a>
                                    </li>
                                    <li>
                                        <a href="">私募股权</a>
                                    </li>
                                    <li>
                                        <a href="">基金</a>
                                    </li>
                                    <li>
                                        <a href="">互联网金融</a>
                                    </li>

                                </ul>
                                <div class="row-foot"><span class="more-btn">收起<i></i></span></div>
                            </li>
                            <li class="tag-row">
                                <div class="row-head">
                                    <span class="title">机构类型:</span>
                                </div>
                                <ul class="clearfix row-body">
                                    <li class="active">
                                        <a href="">商业银行</a>
                                    </li>
                                    <li>
                                        <a href="">信托公司</a>
                                    </li>
                                    <li>
                                        <a href="">担保公司</a>
                                    </li>
                                    <li>
                                        <a href="">小额贷款公司</a>
                                    </li>
                                    <li>
                                        <a href="">风投机构</a>
                                    </li>
                                    <li>
                                        <a href="">其他投资公司</a>
                                    </li>
                                </ul>
                                <div class="row-foot"><span class="more-btn">收起<i></i></span></div>
                            </li>
                            <li class="tag-row">
                                <div class="row-head">
                                    <span class="title">融资轮次:</span>
                                </div>
                                <ul class="clearfix row-body">
                                    <li class="active">
                                        <a href="">种子轮</a>
                                    </li>
                                    <li>
                                        <a href="">天使轮</a>
                                    </li>
                                    <li>
                                        <a href="">PreA轮</a>
                                    </li>
                                    <li>
                                        <a href="">A轮</a>
                                    </li>
                                    <li>
                                        <a href="">A+轮</a>
                                    </li>
                                    <li>
                                        <a href="">C轮</a>
                                    </li>
                                    <li>
                                        <a href="">BAT轮</a>
                                    </li>
                                    <li>
                                        <a href="">PreIPO</a>
                                    </li>
                                    <li>
                                        <a href="">IPO</a>
                                    </li>

                                </ul>
                                <div class="row-foot"><span class="more-btn">收起<i></i></span></div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="news-list">
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="https://p6-tt.byteimg.com/origin/dfic-imagehandler/aaeb3d4d-a407-4150-b738-9c448d4ac170?from=pc">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">无视疾控中心警告 美国1430万人在年末假期期间乘飞机出行美国1430万人在年末假期期间乘飞机出行</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>

                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="../image/jg-1.png">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">《你好生活》天山行 跨过山峰，才能看到下一处风景</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>

                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="https://p6-tt.byteimg.com/origin/dfic-imagehandler/aaeb3d4d-a407-4150-b738-9c448d4ac170?from=pc">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">《你好生活》天山行 跨过山峰，才能看到下一处风景</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>

                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="https://p6-tt.byteimg.com/origin/dfic-imagehandler/aaeb3d4d-a407-4150-b738-9c448d4ac170?from=pc">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">《你好生活》天山行 跨过山峰，才能看到下一处风景</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>

                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="https://p6-tt.byteimg.com/origin/dfic-imagehandler/aaeb3d4d-a407-4150-b738-9c448d4ac170?from=pc">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">《你好生活》天山行 跨过山峰，才能看到下一处风景</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>

                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="https://p6-tt.byteimg.com/origin/dfic-imagehandler/aaeb3d4d-a407-4150-b738-9c448d4ac170?from=pc">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">《你好生活》天山行 跨过山峰，才能看到下一处风景</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>

                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="https://p6-tt.byteimg.com/origin/dfic-imagehandler/aaeb3d4d-a407-4150-b738-9c448d4ac170?from=pc">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">《你好生活》天山行 跨过山峰，才能看到下一处风景</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>

                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="https://p6-tt.byteimg.com/origin/dfic-imagehandler/aaeb3d4d-a407-4150-b738-9c448d4ac170?from=pc">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">《你好生活》天山行 跨过山峰，才能看到下一处风景</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>

                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="https://p6-tt.byteimg.com/origin/dfic-imagehandler/aaeb3d4d-a407-4150-b738-9c448d4ac170?from=pc">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">《你好生活》天山行 跨过山峰，才能看到下一处风景</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>

                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="https://p6-tt.byteimg.com/origin/dfic-imagehandler/aaeb3d4d-a407-4150-b738-9c448d4ac170?from=pc">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">《你好生活》天山行 跨过山峰，才能看到下一处风景</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>

                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="https://p6-tt.byteimg.com/origin/dfic-imagehandler/aaeb3d4d-a407-4150-b738-9c448d4ac170?from=pc">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">《你好生活》天山行 跨过山峰，才能看到下一处风景</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>

                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="https://p6-tt.byteimg.com/origin/dfic-imagehandler/aaeb3d4d-a407-4150-b738-9c448d4ac170?from=pc">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">《你好生活》天山行 跨过山峰，才能看到下一处风景</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>

                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="https://p6-tt.byteimg.com/origin/dfic-imagehandler/aaeb3d4d-a407-4150-b738-9c448d4ac170?from=pc">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">《你好生活》天山行 跨过山峰，才能看到下一处风景</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>

                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="https://p6-tt.byteimg.com/origin/dfic-imagehandler/aaeb3d4d-a407-4150-b738-9c448d4ac170?from=pc">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">《你好生活》天山行 跨过山峰，才能看到下一处风景</a>
                                <span>北京字节跳动有限公司</span>
                            </div>
                            <div class="desc">
                                <div class="desc-row type">
                                    <div class="type-item">
                                        <span>产品类型:</span>
                                        <span>担保品</span>
                                    </div>
                                    <div class="type-item">
                                        <span>机构类型:</span>
                                        <span>担保公司</span>
                                    </div>
                                    <div class="type-item">
                                        <span>融资轮次:</span>
                                        <span>Pre-A轮</span>
                                    </div>
                                </div>
                                <div class="desc-row field">
                                    <div>
                                        <span>投资领域:</span>
                                        <span>软件和信息技术服务</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right content -->
            <div class="content-right-box">
                <div class="right-item adver-area">
                    <div class="imgbox">
                        <img src="https://inews.gtimg.com/newsapp_bt/0/12761656748/1000" alt="">
                    </div>
                </div>
                <div class="right-item relevant-news-area">
                    <div class="title">
                        <h2><span class="title-icon"></span> 相关资讯
                        </h2>
                    </div>
                    <div class="imgbox">
                        <img src="https://inews.gtimg.com/newsapp_bt/0/12761656748/1000" alt="">
                    </div>
                    <ul class="news-list">
                        <li class="list-item">
                            <a href="" target="_blank">回眸2020｜英国“脱欧”剧情了犹未了</a>
                            <span class="time">2021-01-03</span>
                        </li>
                        <li class="list-item"><a href="" target="_blank">2021年印度面临三大挑战</a>
                            <span class="time">2021-12-31</span></li>
                        <li class="list-item"><a href="" target="_blank">寒冬虽冷 血热心暖！沈阳23岁女护士口罩与护目镜上挂冰柱寒冬虽冷 血热心暖!</a>
                            <span class="time">2021-12-30</span></li>
                        <li class="list-item"><a href="" target="_blank">视频集锦：多国领导人发表新年贺词 聚焦抗疫与未来</a>
                            <span class="time">2021-01-12</span></li>
                        <li class="list-item"><a href="" target="_blank">武汉天桥上刻满援鄂医疗队队名 7旬老人路过时流泪鞠躬致谢</a>
                            <span class="time">2021-03-05</span></li>
                    </ul>
                </div>
                <div class="right-item recommend-news-area">
                    <div class="title">
                        <h2><span class="title-icon"></span> 推荐资讯
                        </h2>
                    </div>
                    <div class="news-list">
                        <div class="news-item">
                            <a href="" class="imgbox">
                                <img src="https://p3-tt.byteimg.com/origin/pgc-image/D58CDF63B761B9BB408EF50FA4268AF7?from=pc" alt="">
                            </a>
                            <div class="caption">
                                <a href="">云南丽江游客体验“百花宴”云南丽江游客体验“百花宴”云南丽江游客体验“百花宴”</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="" class="imgbox">
                                <img src="https://p3-tt.byteimg.com/origin/pgc-image/6a4917d6072b404d807f741a3e43b393?from=pc" alt="">
                            </a>
                            <div class="caption">
                                <a href="">世界储水最大的湖泊</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="" class="imgbox">
                                <img src="https://p1-tt.byteimg.com/origin/pgc-image/92886fe819d541789eb5ed3b33845dae?from=pc" alt="">
                            </a>
                            <div class="caption">
                                <a href="">云南丽江游客体验</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="" class="imgbox">
                                <img src="https://p3-tt.byteimg.com/origin/pgc-image/D58CDF63B761B9BB408EF50FA4268AF7?from=pc" alt="">
                            </a>
                            <div class="caption">
                                <a href="">云南丽江游客体验“百花宴”云南丽江游客体验“百花宴”云南丽江游客体验“百花宴”</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="" class="imgbox">
                                <img src="https://p3-tt.byteimg.com/origin/pgc-image/6a4917d6072b404d807f741a3e43b393?from=pc" alt="">
                            </a>
                            <div class="caption">
                                <a href="">世界储水最大的湖泊所言非虚</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="" class="imgbox">
                                <img src="https://p3-tt.byteimg.com/origin/pgc-image/6a4917d6072b404d807f741a3e43b393?from=pc" alt="">
                            </a>
                            <div class="caption">
                                <a href="">世界储水最大的湖泊所言非</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="right-item hot-news-area">
                    <div class="title">
                        <h2><span class="title-icon"></span> 热点资讯
                        </h2>
                    </div>
                    <div class="hot-news-list">
                        <div class="news-item">
                            <div class="imgbox">
                                <img src="../image/jg-1.png">
                            </div>
                            <div class="news-content-box">
                                <div class="news-title">
                                    <a href="">全网都在玩赛博朋克2077,可你们知道什么是赛博朋克吗?全网都在玩赛博朋克2077,可你们知道什么是赛博朋克吗?全网都在玩赛博朋克2077,可你们知道什么是赛博朋克吗?</a>
                                </div>
                                <div class="bottom">
                                    <div class="time">2021-10-20</div>
                                </div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="imgbox">
                                <img src="../image/jg-1.png">
                            </div>
                            <div class="news-content-box">
                                <div class="news-title">
                                    <a href="">全网都在玩赛博朋克2077</a>
                                </div>
                                <div class="bottom">
                                    <div class="time">2021-10-20</div>
                                </div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="imgbox">
                                <img src="../image/jg-1.png">
                            </div>
                            <div class="news-content-box">
                                <div class="news-title">
                                    <a href="">全网都在玩赛博朋克2077,可你们知道什么是赛博朋克吗?</a>
                                </div>
                                <div class="bottom">
                                    <div class="time">2021-10-20</div>
                                </div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="imgbox">
                                <img src="../image/jg-1.png">
                            </div>
                            <div class="news-content-box">
                                <div class="news-title">
                                    <a href="">全网都在玩赛博朋克2077,可你们知道什么是赛博朋克吗?</a>
                                </div>
                                <div class="bottom">
                                    <div class="time">2021-10-20</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="right-item adver-area adver-area2">
                    <div class="imgbox">
                        <img src="https://inews.gtimg.com/newsapp_bt/0/12761656748/1000" alt="">
                    </div>
                    <div class="imgbox">
                        <img src="https://inews.gtimg.com/newsapp_bt/0/12761656748/1000" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- pager -->
    <div class="pagination-box " style="margin-top: 20px "></div>


<!-- footer -->
<div class="foot-bg"></div>
<div class="foot-container">
    <div class="plate-center foot-content">
        <div class="foot-left">
            <img class="foot-logo" src="../image/footimg/ft-logo.png" alt="">
            <div foot-left-info>
                <p>聊城市文化创意产业协会</p>
                <p>聊城市文化创意产业公共服务平台</p>
                <p>C20城市文创产业合作发展联盟合作单位</p>
            </div>
        </div>
        <div class="foot-center">
            <div class="foot-link">
                <div class="foot-title">友情链接</div>
                <div class="foot-link-item-box">

                    <div id="menu1" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                    <div id="menu2" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                    <div id="menu3" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="foot-center-info">
                <div class="foot-center-info-item">
                    <p class="foot-title">指导单位</p>
                    <ul>
                        <li>
                            <span>中共聊城市委宣传部</span>
                        </li>
                        <li>
                            <span> 聊城市文化和旅游局</span>
                        </li>
                        <li><span>聊城市民政局(社会组织管理中心)</span></li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>聊城市文化创意产业协会</span>
                        </li>
                    </ul>
                    <p class="foot-title">承办单位</p>
                    <ul>
                        <li>
                            <span>秘书处.云上融媒中心</span>
                        </li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>山东康华传媒有限公司</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="foot-right">
            <div class="foot-address"><div>中国</div>
                <div style="font-size: 36px;text-align: center;line-height: 28px;color:#fff;margin: -1px 3px;">·</div>
                聊城经济技术开发区当代国际大厦16楼
            </div>
            <ul>
                <li>
                    <span>电话：</span>
                    <span>0635-8256026  8256022</span>
                </li>
                <li>
                    <span>邮箱：</span>
                    <span> sdlccia@163.com</span>
                </li>
                <li><span>http://www.sdlccia.com</span></li>
            </ul>
            <div class="foot-qrcode">
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方公众号</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方微博</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方视频号</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="website-records">
    <p>
        <span>Copyright © 2020－2030</span> 聊城市文化创意产业协会所有
        <span>· All Rights Reserved </span> 鲁ICP备
        <span>2020045966号-1</span>
        <img src="../image/footimg/record.png" alt=""> 鲁公网安备
        <sapn>11010502000728</sapn>
    </p>
</div>



    <script src="../js/jq.js "></script>
    <script src="../js/common.js"></script>
    <script src="../js/pagination.js "></script>
    <script>
        $('.pagination-box').pagination({
            totalData: 100, //总数量
            current: 10, //当前页数
            showData: 10, //一页显示几个
            prevContent: '上一页',
            nextContent: '下一页',
            keepShowPN: true,
            coping: true,
            callback: function(api) {
                $('.now').text(api.getCurrent());
            }
        }, function(api) {
            $('.now').text(api.getCurrent());
        });
    </script>

</body>

</html>