<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=0, maximum-scale=1, minimum-scale=0, user-scalable=yes">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/leader_detail.css">
    <script src="../js/swiper.min.js"></script>

    <style>

    </style>
</head>

<body>
<div class="search-box" style="display: none">
    <div class="search-plate">
        <img class="clear" src="../image/close.png">
        <input id="searchInput" placeholder="请输入关键词">
        <div class="search-desc">按Enter键进行搜索后Esc键关闭</div>
        <div class="recommend-title">#推荐搜索#
        </div>
        <div class="search-tag-box">
            <div class="search-tag">协会大事记</div>
            <div class="search-tag">未来感</div>
            <div class="search-tag">理事单位</div>
            <div class="search-tag">童年茴香</div>
            <div class="search-tag">家乡美味</div>
        </div>
    </div>
</div>

<header class="header-box">
    <div class="header-content plate-center">
        <div class="header-left">
            <img class="header-logo" src="../image/logo.png" alt="">
            <div class="header-nav">
                <a href="index.html" class="active">首页</a>
                <a href="xhgk.html">文创聊城</a>
                <a href="wczs.html">文创之声</a>
                <a href="wcdj.html">文创党建</a>
                <a href="ppwh.html">品牌文化</a>
                <a href="gxptfw.html">服务平台</a>
                <a href="hydw.html">会员单位</a>
                <a href="fzjg.html">分支机构</a>
                <a href="wcyx.html">文创影像</a>
            </div>
        </div>
        <div class="header-right">
            <div id="searchBtn" class="header-right-item">
                <img src="../image/search.png" alt="">
                <a class="search">搜索</a>
            </div>
            <div class="header-right-item">
                <img src="../image/user.png" alt="">
                <a href="">会员申请</a>
            </div>
        </div>

    </div>
    <div class="top-line"></div>

</header>

<div class="top-banner-box">
    <!--<div class="top-banner-title">文创聊城</div>
    <div class="top-banner-line"></div>
    <div class="top-banner-desc">INFORMATION</div>-->
</div>

<div class="top-nav-box">
    <div class="plate-center">
        <div class="top-nav">
            <a href="xhgk.html" class="top-nav-item">协会概况</a>
            <a href="xhjg.html" class="top-nav-item">协会架构</a>
            <a href="leader.html" class="top-nav-item-active">协会领导</a>
            <a href="wczk.html" class="top-nav-item">文创智库</a>
            <a href="fzlc.html" class="top-nav-item">发展历程</a>
            <a href="xxgk.html" class="top-nav-item">信息公开</a>
        </div>
    </div>
</div>
<div class="content-box">
    <div class="top-box">
        <!--顶部左侧-->
        <div class="left-img-box">
            <div class="left-img-bg"></div>
            <img class="left-img" src="../image/组织领导.png">

        </div>
        <!--右下角背景-->
        <img class="right-bottom-img" src="../image/社会职务处.png">
        <!--顶部右侧-->
        <div class="leader-box">
            <div class="leader-id-box">
                <img class="id-intro" src="../image/briefintroduction.png">
                <div class="name-box">
                    <div class="id-name">黎元洪</div>
                    <div class="zw">培训师</div>
                </div>
                <div class="leader-company-box">
                    <img class="leader-company-img"
                         src="https://dss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=199962505,2209257128&fm=179&app=42&f=JPEG?w=200&h=200&s=30B464324A0052CC518229FD0300C029">
                    <div class="leader-company-right-box">
                        <div class="title">vue软件开发工程师</div>
                        <div class="name">北京某某科技有限公司</div>
                    </div>
                </div>

                <div class="identity-list">
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>
                    <div class="identity-item">
                        <div class="company">聊城托梦电子商务有限公司</div>
                        <div class="job">咨询经理</div>
                    </div>

                    <!--</div>-->
                </div>

            </div>

        </div>
    </div>

</div>


<div class="bottom-box">
    <div class="bottom-left">
        <p>
            由政府出资开发,以满足社区及居民公共利益为目的的管理和服务岗位.公益性岗位有限安排困难人员或特殊群体,并从就业专项资金中给予这回保险补贴和岗位津贴.
            中央12号文件主要对由于政府出资,用来优.中央12号文件主要对由于政府出资,用来优先安置大龄就业对象就业的社区公益性岗位范围作了规定.领导班子吧
            中央12号文件主要对由于政府出资,用来优.中央12号文件主要对由于政府出资,用来优先安置大龄就业对象就业的社区公益性岗位范围作了规定.领导班子吧
        </p>
        <p>
            由政府出资开发,以满足社区及居民公共利益为目的的管理和服务岗位.公益性岗位有限安排困难人员或特殊群体,并从就业专项资金中给予这回保险补贴和岗位津贴
        </p>
        <!--左下荣誉证书图片-->
        <!--<div class="bottom-honor-box">
            <img class="honor-img" src="../image/组织领导.png">
            <img class="honor-img" src="../image/组织领导.png">
            <img class="honor-img" src="../image/组织领导.png">
            <img class="honor-img" src="../image/组织领导.png">
        </div>-->
        <div class="swiper-container bottom-honor-box">
            <div class="swiper-wrapper" style="transform:translate3d(-32px, 0px, 0px)">
                <!--<div class="honor-item swiper-slide">
                    <img class="honor-img"
                         src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2465964204,3612683526&fm=26&gp=0.jpg">
                </div>
                <div class="honor-item swiper-slide">
                    <img class="honor-img" -img
                         src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fww3.sinaimg.cn%2Flarge%2F771a3ec3gw1eo60jeuvjbj20xc0xcwnp.jpg&refer=http%3A%2F%2Fwww.sina.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1612495843&t=14f83d2c90da3263a9d9e89210f82ad2">

                </div>-->
              <!--  <div class="honor-item swiper-slide">
                    <img class="honor-img" -img
                         src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=938795289,766540876&fm=26&gp=0.jpg">
                </div>-->
                <div class="honor-item swiper-slide">
                    <img class="honor-img"
                         src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1159010356,753789953&fm=15&gp=0.jpg">
                </div>
            </div>
            <div class="s4-prev-1 swiper-button-prev">
            </div>
            <div class="s4-next-1 swiper-button-next">
            </div>
        </div>

        <img class="tdht" src="../image/托底横条.png">
    </div>


    <div class="bottom-right">

        <div class="news-box-left swiper-container">

            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="book-item" href="#" target="_blank">
                        <!--<img src="../img/康华.png" alt="1">-->
                        <img class="swiper-news-image"
                             src="../image/轮播.png">
                        <div class="desc">sdfads dfsfds f asf</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="book-item" href="#" target="_blank">
                        <!--<img src="../img/康华.png" alt="1">-->
                        <img class="swiper-news-image"
                             src="../image/轮播.png">
                        <div class="desc">sdfads dfsfds f asf</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="book-item" href="#" target="_blank">
                        <!--<img src="../img/康华.png" alt="1">-->
                        <img class="swiper-news-image"
                             src="../image/轮播.png">
                        <div class="desc">sdfads dfsfds f asf</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="book-item" href="#" target="_blank">
                        <!--<img src="../img/康华.png" alt="1">-->
                        <img class="swiper-news-image"
                             src="../image/轮播.png">
                        <div class="desc">sdfads dfsfds f asf</div>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>

        </div>
    </div>
</div>
</div>
<!-- footer -->
<div class="foot-bg"></div>
<div class="foot-container">
    <div class="plate-center foot-content">
        <div class="foot-left">
            <img class="foot-logo" src="../image/footimg/ft-logo.png" alt="">
            <div foot-left-info>
                <p>聊城市文化创意产业协会</p>
                <p>聊城市文化创意产业公共服务平台</p>
                <p>C20城市文创产业合作发展联盟合作单位</p>
            </div>
        </div>
        <div class="foot-center">
            <div class="foot-link">
                <div class="foot-title">友情链接</div>
                <div class="foot-link-item-box">

                    <div id="menu1" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                    <div id="menu2" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                    <div id="menu3" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="foot-center-info">
                <div class="foot-center-info-item">
                    <p class="foot-title">指导单位</p>
                    <ul>
                        <li>
                            <span>中共聊城市委宣传部</span>
                        </li>
                        <li>
                            <span> 聊城市文化和旅游局</span>
                        </li>
                        <li><span>聊城市民政局(社会组织管理中心)</span></li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>聊城市文化创意产业协会</span>
                        </li>
                    </ul>
                    <p class="foot-title">承办单位</p>
                    <ul>
                        <li>
                            <span>秘书处.云上融媒中心</span>
                        </li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>山东康华传媒有限公司</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="foot-right">
            <div class="foot-address">中国
                <div style="font-size: 36px;text-align: center;line-height: 28px;color:#fff;margin: -1px 3px;">·</div>
                聊城经济技术开发区当代国际大厦16楼
            </div>
            <ul>
                <li>
                    <span>电话：</span>
                    <span>0635-8256026 8256022</span>
                </li>
                <li>
                    <span>邮箱：</span>
                    <span> sdlccia@163.com</span>
                </li>
                <li><span>http://www.sdlccia.com</span></li>
            </ul>
            <div class="foot-qrcode">
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方公众号</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方微博</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方视频号</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="website-records">
    <p>
        <span>Copyright © 2020－2030</span> 聊城市文化创意产业协会所有
        <span>· All Rights Reserved </span> 鲁ICP备
        <span>2020045966号-1</span>
        <img src="../image/footimg/record.png" alt=""> 鲁公网安备
        <sapn>11010502000728</sapn>
    </p>
</div>
<script src="../js/jq.js"></script>
<script src="../js/common.js"></script>
<script src="../js/common.js"></script>
<script>

    const swiperNews = new Swiper('.swiper-container.news-box-left', {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            bulletClass: 'my-swiper-pagination-bullet',
            bulletActiveClass: 'my-swiper-pagination-bullet-active'
        }
    });


   /* const swiperHonor = new Swiper('.swiper-container.bottom-honor-box', {
        autoplay: false,//可选选项，自动滑动
        loop: true,
        slidesPerView: 'auto',
        slidesPerGroup: 2,
        loopedSlides: 6,
        spaceBetween: 0,
        centeredSlides: true, //页面居中
        navigation: {
            nextEl: '.s4-next-1',
            prevEl: '.s4-prev-1',
        },
        observer: true,
        observeParents: true,
    });*/
    const swiperHonor = new Swiper('.swiper-container.bottom-honor-box', {
//        autoplay: false,//可选选项，自动滑动
        loop: true,
        slidesPerView: false,
        slidesPerGroup: 2,
        loopedSlides: 6,
        spaceBetween: 0,
        centeredSlides: true, //页面居中
        navigation: {
            nextEl: '.s4-next-1',
            prevEl: '.s4-prev-1',
        },
        observer: true,
        observeParents: true,
    });
</script>

</body>

</html>