<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=0, maximum-scale=1, minimum-scale=0, user-scalable=yes">
    <title>协会新闻详情页</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/news-detail.css">
    <script type="text/javascript" charset="utf-8"
            src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp&style=999&img=http%3a%2f%2fyour-domain%2fimages%2fbutton.gif&h=50&w=50;pophcol=2&amp;lang=zh"></script>
    <!--<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>-->
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC2.js"></script>
    <style>
        .bshare-custom a {
            display: inline-block !important;
            margin-right: 10px !important;
            width: 26px !important;
            height: 26px !important;
            padding-left: 0 !important;
        }

        .bshare-weixin {
            background: url(../image/share-icon/weixin.png) no-repeat !important;
        }

        .bshare-weixin:hover {
            background: url(../image/share-icon/微信2.png) no-repeat !important;
        }

        .bshare-sinaminiblog {
            background: url(../image/share-icon/weibo.png) no-repeat !important;
        }

        .bshare-sinaminiblog:hover {
            background: url(../image/share-icon/weibo1.png) no-repeat !important;
        }

        .bshare-qqim {
            background: url(../image/share-icon/qq.png) no-repeat !important;
        }

        .bshare-qqim:hover {
            background: url(../image/share-icon/QQ2.png) no-repeat !important;
        }

        .bshare-qzone {
            background: url(../image/share-icon/qzone.png) no-repeat !important;
        }

        .bshare-qzone:hover {
            background: url(../image/share-icon/QQ空间2.png) no-repeat !important;
        }
    </style>
</head>

<body>
<div class="search-box" style="display: none">
    <div class="search-plate">
        <img class="clear" src="../image/close.png">
        <input id="searchInput" placeholder="请输入关键词">
        <div class="search-desc">按Enter键进行搜索后Esc键关闭</div>
        <div class="recommend-title">#推荐搜索#
        </div>
        <div class="search-tag-box">
            <div class="search-tag">协会大事记</div>
            <div class="search-tag">未来感</div>
            <div class="search-tag">理事单位</div>
            <div class="search-tag">童年茴香</div>
            <div class="search-tag">家乡美味</div>
        </div>
    </div>
</div>

<header class="header-box">
    <div class="header-content plate-center">
        <div class="header-left">
            <img class="header-logo" src="../image/logo.png" alt="">
            <div class="header-nav">
                <a href="index.html" class="active">首页</a>
                <a href="xhgk.html">文创聊城</a>
                <a href="wczs.html">文创之声</a>
                <a href="wcdj.html">文创党建</a>
                <a href="ppwh.html">品牌文化</a>
                <a href="gxptfw.html">服务平台</a>
                <a href="hydw.html">会员单位</a>
                <a href="fzjg.html">分支机构</a>
                <a href="wcyx.html">文创影像</a>
            </div>
        </div>
        <div class="header-right">
            <div id="searchBtn" class="header-right-item">
                <img src="../image/search.png" alt="">
                <a class="search">搜索</a>
            </div>
            <div class="header-right-item">
                <img src="../image/user.png" alt="">
                <a href="">会员申请</a>
            </div>
        </div>

    </div>
    <div class="top-line"></div>

</header>


<div class="top-banner-box">
    <div class="top-banner-title">文创之声</div>
    <div class="top-banner-line"></div>
    <div class="top-banner-desc">INFORMATION</div>
</div>


<div class="top-nav-box">
    <div class="plate-center">
        <div class="top-nav">
            <a class="top-nav-item-active">协会新闻</a>
            <a class="top-nav-item">产业资讯</a>
            <a class="top-nav-item">会员资讯</a>
            <a class="top-nav-item">通知公报</a>
        </div>
    </div>
</div>

<!-- article-detail-->
<div class="detail-content-wrapper">
    <div class="plate-center content-box">
        <div class="content-left-box detail-article-container">
            <div id="print-area" class="article-content">
                <h1>中华故土贝加尔湖（上）：世界储水最大的湖泊，自古以来所言非虚</h1>
                <div class="clearfix article-info">
                    <div class="tag-box">
                        <div class="tag">原创</div>
                        <div class="tag">共享自习室</div>
                        <div class="tag">飞桨开发者</div>
                    </div>
                    <div class="author-box">
                        <span>来源: <a href=""> 大众网</a></span>
                        <span class="cut-line"></span>
                        <span>网站编辑: <a href=""> 创意聊城</a></span>
                        <span class="cut-line"></span>
                        <span class="news-time">2021-01-04 07:41:50</span>
                    </div>


                    <div class="share-tool-box">
                        <ul class="share-tools">
                            <li>
                                <a class="share-link-icon"></a>
                            </li>
                            <li class="cut-line"></li>
                            <div style="display: flex" class="bshare-custom">
                                <a title="分享到微信"
                                   class="bshare-weixin"></a>
                                <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                                <a title="分享到QQ" class="bshare-qqim"></a>
                                <a title="分享到QQ空间" class="bshare-qzone"></a>
                            </div>
                            <li class="cut-line"></li>
                            <li>
                                <!--<a href="javascript:window.print('print-area')" class="print-icon"></a>-->
                                <a class="print-icon" onclick="myPrint(document.getElementById('print-area'))"></a>
                            </li>
                        </ul>

                    </div>
                </div>
                <article class="article-body">

                    <p>
                        发酵阿里三等分加水电费记录卡时间点弗兰克sldfjalsjlkasjdfl加凉开水弗兰克的房间廊坊交房辣度鞥哈拉就地方历史记录了司法局了沙发卡拉时间点冯老师对方拒绝说翻就翻可靠拉萨荆防颗粒啊放假啦安吉拉对方吉拉对方<img
                            src="http://sdlccia.oss-cn-hangzhou.aliyuncs.com/xy-association/product/2021/01/09/ce74e33c58444293a37a739a06d9c152.png"/>
                    </p>
                    <p>
                        发酵阿里三等分加水电费记录卡时间点弗兰克sldfjalsjlkasjdfl加凉开水弗兰克的房间廊坊交房辣度鞥哈拉就地方历史记录了司法局了沙发卡拉时间点冯老师对方拒绝说翻就翻可靠拉萨荆防颗粒啊放假啦安吉拉对方吉拉对方</p>
                </article>
                <div class="article-foot">
                    <div class="article-previous">
                        <span>上一篇:</span>
                        <a href="">央视评拼多多23岁员工猝死</a>
                    </div>
                    <div class="article-list">
                        <i class="arrow l-arrow"></i>
                        <a href="">返回列表</a>
                        <i class="arrow r-arrow"></i>
                    </div>
                    <div class="article-next">
                        <span>下一篇:</span>
                        <a href="">奋斗强军再出征！河北武警闻令而动开训</a>
                    </div>

                </div>
            </div>


        </div>
        <!-- right content -->
        <div class="content-right-box">
            <div class="right-item adver-area">
                <div class="imgbox">
                    <img src="https://inews.gtimg.com/newsapp_bt/0/12761656748/1000" alt="">
                </div>
            </div>
            <div class="right-item relevant-news-area">
                <div class="title">
                    <h2><span class="title-icon"></span> 相关资讯
                    </h2>
                </div>
                <div class="imgbox">
                    <a>
                        <img id="relative-news-img" src="https://inews.gtimg.com/newsapp_bt/0/12761656748/1000" alt="">
                    </a>
                </div>
                <ul class="news-list">
                    <li class="list-item"
                        data-news-cover="https://scpic.chinaz.net/files/pic/pic9/202101/bpic22177.jpg">
                        <a href="" target="_blank">回眸2020｜英国“脱欧”剧情了犹未了</a>
                        <span class="time">2021-1-3</span>
                    </li>
                    <li class="list-item"
                        data-news-cover="https://scpic.chinaz.net/files/pic/pic9/202101/apic30154.jpg">
                        <a href="" target="_blank">2021年印度面临三大挑战</a>
                        <span class="time">2021-12-31</span>
                    </li>
                    <li class="list-item"
                        data-news-cover="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3543629908,629303851&fm=26&gp=0.jpg">
                        <a href="" target="_blank">寒冬虽冷 血热心暖！沈阳23岁女护士口罩与护目镜上挂冰柱寒冬虽冷 血热心暖!</a>
                        <span class="time">2021-12-30</span>
                    </li>
                    <li class="list-item"
                        data-news-cover="https://scpic.chinaz.net/files/pic/pic9/202101/bpic22232.jpg">
                        <a href="" target="_blank">视频集锦：多国领导人发表新年贺词 聚焦抗疫与未来</a>
                        <span class="time">2021-01-12</span>
                    </li>
                    <li class="list-item" data-news-cover="https://scpic.chinaz.net/files/pic/pic9/202101/hpic3460.jpg">
                        <a href="" target="_blank">武汉天桥上刻满援鄂医疗队队名 7旬老人路过时流泪鞠躬致谢</a>
                        <span class="time">2021-3-5</span>
                    </li>
                </ul>
            </div>
            <div class="right-item recommend-news-area">
                <div class="title">
                    <h2><span class="title-icon"></span> 推荐资讯
                    </h2>
                </div>
                <div class="news-list">
                    <div class="news-item">
                        <a href="" class="imgbox">
                            <img src="https://p3-tt.byteimg.com/origin/pgc-image/D58CDF63B761B9BB408EF50FA4268AF7?from=pc"
                                 alt="">
                        </a>
                        <div class="caption">
                            <a href="">云南丽江游客体验“百花宴”云南丽江游客体验“百花宴”云南丽江游客体验“百花宴”</a>
                        </div>
                    </div>
                    <div class="news-item">
                        <a href="" class="imgbox">
                            <img src="https://p3-tt.byteimg.com/origin/pgc-image/6a4917d6072b404d807f741a3e43b393?from=pc"
                                 alt="">
                        </a>
                        <div class="caption">
                            <a href="">世界储水最大的湖泊</a>
                        </div>
                    </div>
                    <div class="news-item">
                        <a href="" class="imgbox">
                            <img src="https://p1-tt.byteimg.com/origin/pgc-image/92886fe819d541789eb5ed3b33845dae?from=pc"
                                 alt="">
                        </a>
                        <div class="caption">
                            <a href="">云南丽江游客体验</a>
                        </div>
                    </div>
                    <div class="news-item">
                        <a href="" class="imgbox">
                            <img src="https://p3-tt.byteimg.com/origin/pgc-image/D58CDF63B761B9BB408EF50FA4268AF7?from=pc"
                                 alt="">
                        </a>
                        <div class="caption">
                            <a href="">云南丽江游客体验“百花宴”云南丽江游客体验“百花宴”云南丽江游客体验“百花宴”</a>
                        </div>
                    </div>
                    <div class="news-item">
                        <a href="" class="imgbox">
                            <img src="https://p3-tt.byteimg.com/origin/pgc-image/6a4917d6072b404d807f741a3e43b393?from=pc"
                                 alt="">
                        </a>
                        <div class="caption">
                            <a href="">世界储水最大的湖泊所言非虚</a>
                        </div>
                    </div>
                    <div class="news-item">
                        <a href="" class="imgbox">
                            <img src="https://p3-tt.byteimg.com/origin/pgc-image/6a4917d6072b404d807f741a3e43b393?from=pc"
                                 alt="">
                        </a>
                        <div class="caption">
                            <a href="">世界储水最大的湖泊所言非</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right-item hot-news-area">
                <div class="title">
                    <h2><span class="title-icon"></span> 热点资讯
                    </h2>
                </div>
                <div class="hot-news-list">
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="../image/jg-1.png">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">全网都在玩赛博朋克2077,可你们知道什么是赛博朋克吗?全网都在玩赛博朋克2077,可你们知道什么是赛博朋克吗?全网都在玩赛博朋克2077,可你们知道什么是赛博朋克吗?</a>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="../image/jg-1.png">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">全网都在玩赛博朋克2077</a>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="../image/jg-1.png">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">全网都在玩赛博朋克2077,可你们知道什么是赛博朋克吗?</a>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="imgbox">
                            <img src="../image/jg-1.png">
                        </div>
                        <div class="news-content-box">
                            <div class="news-title">
                                <a href="">全网都在玩赛博朋克2077,可你们知道什么是赛博朋克吗?</a>
                            </div>
                            <div class="bottom">
                                <div class="time">2021-10-20</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="right-item adver-area adver-area2">
                <div class="imgbox">
                    <img src="https://inews.gtimg.com/newsapp_bt/0/12761656748/1000" alt="">
                </div>
                <div class="imgbox">
                    <img src="https://inews.gtimg.com/newsapp_bt/0/12761656748/1000" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div class="foot-bg"></div>
<div class="foot-container">
    <div class="plate-center foot-content">
        <div class="foot-left">
            <img class="foot-logo" src="../image/footimg/ft-logo.png" alt="">
            <div foot-left-info>
                <p>聊城市文化创意产业协会</p>
                <p>聊城市文化创意产业公共服务平台</p>
                <p>C20城市文创产业合作发展联盟合作单位</p>
            </div>
        </div>
        <div class="foot-center">
            <div class="foot-link">
                <div class="foot-title">友情链接</div>
                <div class="foot-link-item-box">

                    <div id="menu1" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                    <div id="menu2" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                    <div id="menu3" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="foot-center-info">
                <div class="foot-center-info-item">
                    <p class="foot-title">指导单位</p>
                    <ul>
                        <li>
                            <span>中共聊城市委宣传部</span>
                        </li>
                        <li>
                            <span> 聊城市文化和旅游局</span>
                        </li>
                        <li><span>聊城市民政局(社会组织管理中心)</span></li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>聊城市文化创意产业协会</span>
                        </li>
                    </ul>
                    <p class="foot-title">承办单位</p>
                    <ul>
                        <li>
                            <span>秘书处.云上融媒中心</span>
                        </li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>山东康华传媒有限公司</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="foot-right">
            <div class="foot-address">中国
                <div style="font-size: 36px;text-align: center;line-height: 28px;color:#fff;margin: -1px 3px;">·</div>
                聊城经济技术开发区当代国际大厦16楼
            </div>
            <ul>
                <li>
                    <span>电话：</span>
                    <span>0635-8256026 8256022</span>
                </li>
                <li>
                    <span>邮箱：</span>
                    <span> sdlccia@163.com</span>
                </li>
                <li><span>http://www.sdlccia.com</span></li>
            </ul>
            <div class="foot-qrcode">
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方公众号</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方微博</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方视频号</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="website-records">
    <p>
        <span>Copyright © 2020－2030</span> 聊城市文化创意产业协会所有
        <span>· All Rights Reserved </span> 鲁ICP备
        <span>2020045966号-1</span>
        <img src="../image/footimg/record.png" alt=""> 鲁公网安备
        <sapn>11010502000728</sapn>
    </p>
</div>

<script src="../js/jq.js"></script>
<script src="../js/common.js"></script>
<script>
    //    右侧相关推荐新闻,鼠标覆盖更换图片
    $('.list-item').mouseover(function () {
        console.log("mouseOver........", $(this).attr('data-news-cover'));
        //修改封面
        document.getElementById('relative-news-img').src = $(this).attr('data-news-cover');
        console.log($('#relative-news-img').parent())
        //改变图片跳转链接
        $('#relative-news-img').parent().attr("href", "http://baidu.com");
    });
    function myPrint(obj) {
        var newWindow = window.open("打印窗口", "_blank");

        var docStr = obj.innerHTML;

        newWindow.document.write(docStr);

        newWindow.document.close();

        newWindow.print();

        newWindow.close();
    }
    /*$('.pagination-box').pagination({
     totalData: 100, //总数量
     current: 10, //当前页数
     showData: 10, //一页显示几个
     prevContent: '上一页',
     nextContent: '下一页',
     keepShowPN: true,
     coping: true,
     callback: function (api) {
     $('.now').text(api.getCurrent());
     }
     }, function (api) {
     $('.now').text(api.getCurrent());
     });*/
</script>
</body>

</html>