<!doctype html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport"
content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    html,body{
      height: 100%;
      margin:0;
      padding:0;
  }
</style>
</head>
<body>
<iframe src="https://sdlccia.oss-cn-hangzhou.aliyuncs.com/test/2021/01/22/d6bc89c501144669b9204b9e8e41378b.pdf" width=100% height=100%>

    This browser does not support PDFs. Please download the PDF to view it: <a href="unix test.pdf">Download PDF</a>

</iframe>
</body>
</html>