<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/test.css">
    <style>
        body {
            min-width: 1400px;
            padding-top: 85px;
        }

        .top-nav {
            height: 100px;
            background: #EBEBEB;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .top-nav-item {
            width: 176px;
            height: 50px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 50px;
            font-size: 16px;
            cursor: pointer;
        }

        .top-nav-item:last-child {
            margin-right: none;
        }

        .top-nav-active {
            color: #Fff;
            background: #0066B0;
        }

    </style>
</head>
<body id="body">
<header class="header-box">
    <div class="header-content plate-center">
        <div class="header-left">
            <img class="header-logo" src="" alt="">
            <div class="header-nav">
                <a>首页</a>
                <a>文创聊城</a>
                <a>文创之声</a>
                <a>文创党建</a>
                <a>品牌文化</a>
                <a>服务平台</a>
                <a>会员单位</a>
                <a>分支机构</a>
                <a>文创影像</a>
            </div>
        </div>
        <div class="header-right">
            <div class="header-right-item">
                <img src="" alt="">
                <a href="">搜索</a>
            </div>
            <div class="header-right-item">
                <img src="" alt="">
                <a href="">会员申请</a>
            </div>
        </div>

    </div>
    <div class="top-line"></div>
</header>


<div class="top-banner-box">
    <div class="top-banner-title">文创之声</div>
    <div class="top-banner-line"></div>
    <div class="top-banner-desc">INFORMATION</div>
</div>
<div class="top-nav">
    <div class="top-nav-item top-nav-active">协会新闻</div>
    <div class="top-nav-item">产业资讯</div>
    <div class="top-nav-item">会员资讯</div>
    <div class="top-nav-item">通知公报</div>
</div>

<div class="content-box">
    <!--左侧内容-->
    <div class="left-box">
        <!--列表-->
        <div class="left-news-box">
            <img class="left-news-img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
            <div class="left-news-content-box">
                <div class="title">
                    全网都在玩赛博朋克2077,可你们知道什么是赛博朋克吗?
                </div>
                <div class="content">
                    在赛博朋克2077发售当日，光steam一个平台的同时在线玩家就已经超过了100万人，这样的同时在线人数量对于一款单机游戏来说可以算是非常恐怖了，仅次于《绝地求生》的3257248人、《CS:GO》的1308963人和《Dota2》的1295114人。要知道这三款游戏都是steam平台上最火爆的多人联机游戏。
                </div>
                <div class="bottom">
                    <div class="tag-box">
                        <div class="tag">原创</div>
                        <div class="tag">共享自习室</div>
                        <div class="tag">飞桨开发者</div>
                    </div>
                    <div class="time">今天 14:20</div>
                </div>
            </div>
        </div>
        <div class="left-news-box">
            <img class="left-news-img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
            <div class="left-news-content-box">
                <div class="title">
                    全网都在玩赛博朋克2077,可你们知道什么是赛博朋克吗?
                </div>
                <div class="content">
                    在赛博朋克2077发售当日，光steam一个平台的同时在线玩家就已经超过了100万人，这样的同时在线人数量对于一款单机游戏来说可以算是非常恐怖了，仅次于《绝地求生》的3257248人、《CS:GO》的1308963人和《Dota2》的1295114人。要知道这三款游戏都是steam平台上最火爆的多人联机游戏。
                </div>
                <div class="bottom">
                    <div class="tag-box">
                        <div class="tag">原创</div>
                        <div class="tag">共享自习室</div>
                        <div class="tag">飞桨开发者</div>
                    </div>
                    <div class="time">今天 14:20</div>
                </div>
            </div>
        </div>
        <div class="left-news-box">
            <img class="left-news-img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
            <div class="left-news-content-box">
                <div class="title">
                    全网都在玩赛博朋克2077,可你们知道什么是赛博朋克吗?
                </div>
                <div class="content">
                    在赛博朋克2077发售当日，光steam一个平台的同时在线玩家就已经超过了100万人，这样的同时在线人数量对于一款单机游戏来说可以算是非常恐怖了，仅次于《绝地求生》的3257248人、《CS:GO》的1308963人和《Dota2》的1295114人。要知道这三款游戏都是steam平台上最火爆的多人联机游戏。
                </div>
                <div class="bottom">
                    <div class="tag-box">
                        <div class="tag">原创</div>
                        <div class="tag">共享自习室</div>
                        <div class="tag">飞桨开发者</div>
                    </div>
                    <div class="time">今天 14:20</div>
                </div>
            </div>
        </div>

        <div class="pagination-box" style="margin-top: 20px"></div>

    </div>

    <!--右侧内容-->

    <!--资讯样式1-->
    <div class="right-box">
        <img class="right-top-img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
        <div class="right-title-box">
            <div class="title-line">
                <img class="img" src="">
                <div>相关资讯</div>
            </div>
        </div>
        <div class="right-big-img-box">
            <img class="img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
            <div class="remark">元气森林要进军亿万咖啡市场?</div>
        </div>

        <div class="information1-box">
            <div class="information1-box-row">
                <div class="dot"></div>
                <div class="title">环球夫人深圳赛区慈善党支部书记党支部书记是客服时间发送</div>
            </div>
        </div>
        <div class="information1-box">
            <div class="information1-box-row">
                <div class="dot"></div>
                <div class="title">环球夫人深圳赛区慈善党支部书记党支部书记是客服时间发送</div>
            </div>
        </div>
        <div class="information1-box">
            <div class="information1-box-row">
                <div class="dot"></div>
                <div class="title">环球夫人深圳赛区慈善党支部书记党支部书记是客服时间发送</div>
            </div>
        </div>

        <div class="right-title-box">
            <div class="title-line">
                <img class="img" src="">
                <div>推荐资讯</div>
            </div>
        </div>

        <!--资讯样式2-->
        <div class="information-box">
            <div class="container">
                <img class="img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
                <div class="title">奥巴马公布年度最爱影视作品《无依之地等入选》手动挡发顺丰是</div>
            </div>
            <div class="container">
                <img class="img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
                <div class="title">奥巴马公布年度最爱影视作品《无依之地等入选》手动挡发顺丰是</div>
            </div>
            <div class="container">
                <img class="img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
                <div class="title">奥巴马公布年度最爱影视作品《无依之地等入选》手动挡发顺丰是</div>
            </div>
            <div class="container">
                <img class="img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
                <div class="title">奥巴马公布年度最爱影视作品《无依之地等入选》手动挡发顺丰是</div>
            </div>
        </div>


        <div class="right-title-box">
            <div class="title-line">
                <img class="img" src="">
                <div>热点资讯</div>
            </div>
        </div>
        <div class="information-box3">
            <div class="container">
                <img class="img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">

                <div class="right-container">
                    <div class="title">奥巴马公布年度最爱影视作品《无依之地等入选》手动挡发顺丰是</div>
                    <div class="time">2020-12-28</div>

                </div>
            </div>
            <div class="container">
                <img class="img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">

                <div class="right-container">
                    <div class="title">奥巴马公布年度最爱影视作品《无依之地等入选》手动挡发顺丰是</div>
                    <div class="time">2020-12-28</div>

                </div>
            </div>
            <div class="container">
                <img class="img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">

                <div class="right-container">
                    <div class="title">奥巴马公布年度最爱影视作品《无依之地等入选》手动挡发顺丰是</div>
                    <div class="time">2020-12-28</div>

                </div>
            </div>
        </div>
        <img class="right-top-img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">
        <img class="right-top-img" src="https://wx2.sinaimg.cn/large/005Jaqyyly4globcvibeoj30m30cbgmk.jpg">

    </div>

</div>


<script src="../js/jq.js"></script>
<script src="../js/pagination.js"></script>
<script>
    $('.pagination-box').pagination({
        totalData:2000,    //总数量
        current:20,      //当前页数
        showData:10,       //一页显示几个
        prevContent:'上一页',
        nextContent:'下一页',
        keepShowPN:true,
        coping:true,
        callback: function (api) {
            $('.now').text(api.getCurrent());
        }
    }, function (api) {
        $('.now').text(api.getCurrent());
    });
</script>
</body>
</html>