<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文创人才需求</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/wcrcxq.css">
    <script type="text/javascript" charset="utf-8"
            src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp&style=999&img=http%3a%2f%2fyour-domain%2fimages%2fbutton.gif&h=50&w=50;pophcol=2&amp;lang=zh"></script>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC2.js"></script>
    <style>

    </style>
</head>

<body>
<img class="banner-box" src="../image/wcrcxq/750.png">

</img>


<script src="../js/jq.js"></script>
<script src="../js/common.js"></script>
<script>

</script>
</body>

</html>