<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=0, maximum-scale=1, minimum-scale=0, user-scalable=yes">
    <title>文创人才需求</title>
    <link rel="stylesheet" href="../css/wcrcxq.css">
    <script type="text/javascript" charset="utf-8"
            src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp&style=999&img=http%3a%2f%2fyour-domain%2fimages%2fbutton.gif&h=50&w=50;pophcol=2&amp;lang=zh"></script>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC2.js"></script>
    <style>
        .modal-backdrop {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1040;
            background-color: rgba(0, 0, 0, 0.61);
            /*display: flex;*/
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
<div class="modal-backdrop">
    <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fww2.sinaimg.cn%2Flarge%2F82d91095gw1f6xxmtndw0g20m80go74g.gif&refer=http%3A%2F%2Fwww.sina.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1614742705&t=fb3420889c24562f1eb8e50cbed33f3c">
</div>
<img class="banner-box" src="../image/wcrcxq/750.png">

</img>

<div class="top-box">
    <img class="r-t-bg" src="../image/wcrcxq/右底距上450.png">
    <div class="content-box">
        <div class="big-title">公司简介</div>
        <div class="content">
            <p> 康华是山东文化产业领域第一方阵出版传媒企业，以文化自信、责任担当、精品创作为指引，始终坚持社会效益和经济效益相统一，构建出版传媒、在线教育、创意设计、文创文具、数字科技、绿色印刷于一体的生态产业体系。
                围绕新时代文化创意产业及出版传媒发展新使命，康华以“立足教育出版·服务中国教育”为核心理念，形成了市场化为导向的“教育出版+互联网+文化创意”生态产业格局</p>
            <p> 康华总部位于中国聊城，现辖康华传媒、学缘教育、学缘文化、学缘文创、学缘科技、学缘网络、书缘阁、鲁舰印务八大创意群，集合研发、创意、出版、科技等300+全国创意人才；康华坚持正确出版导向，实施精品出版战略，
                以其沉淀了十八年的出版经验，匠心出版6大品牌体系1500余种精品出版物，全心全意服务于千余家合作单位；学缘科技投资开发在线教育平台、电子商务平台；形成了“产业军团，集群出击，品牌助推”的强劲态势。 </p>
            <p>
                书籍合为时而著，出版传媒亦因时而改革。以山东新旧动能转换为契机，康华将携有勇于进取的创业精神，满怀全新的气度和热情，脚踏实地的做好本职工作，构筑人才集聚高地，主业挺拔，多元发展，
                为未来不断积累新的发展势能，力争打造中国具有广泛影响力的文化创意产业集群。</p>
        </div>
        <div class="label-list-box">
            <div class="label-item">
                <img src="../image/wcrcxq/1.png">
                <div class="label-title">央企背景</div>
            </div>
            <div class="label-item">
                <img src="../image/wcrcxq/2.png">
                <div class="label-title">上市公司</div>
            </div>
            <div class="label-item">
                <img src="../image/wcrcxq/3.png">
                <div class="label-title">企业投资</div>
            </div>
            <div class="label-item">
                <img src="../image/wcrcxq/2.png">
                <div class="label-title">上市公司</div>
            </div>
            <div class="label-item">
                <img src="../image/wcrcxq/1.png">
                <div class="label-title">央企背景</div>
            </div>
        </div>

        <div class="big-title title-top-padding">招聘岗位</div>
        <div class="content">
            <p style="text-align: center;"><span
                    style="color: #333333; font-family: arial; text-align: justify; background-color: #FFFFFF;">“光谷之星”项目是中电光谷于2011年10月正式设立的校园招聘品牌项目，到目前为止已连续举办九届。公司旨在通过此项目，进行前瞻性的人力资源储备，建设中电光谷人才高地，助推集团发展战略。</span>
            </p>
            <p style="text-align: center;"><strong><span
                    style="font-family: arial; text-align: justify; background-color: #FFFFFF; color: #0070C0;">进行前瞻</span></strong><span
                    style="color: #333333; font-family: arial; text-align: justify; background-color: #FFFFFF;">性的人力资源储备</span>
            </p>

            <p style="white-space: normal; text-align: center;"><span
                    style="color: #333333; font-family: arial; text-align: justify; background-color: #FFFFFF;">“光谷之星”项目是中电光谷于2011年10月正式设立的校园招聘品牌项目，到目前为止已连续举办九届。公司旨在通过此项目，进行前瞻性的人力资源储备，建设中电光谷人才高地，助推集团发展战略。</span>
            </p>
            <p style="white-space: normal; text-align: center;"><span
                    style="font-family: arial; text-align: justify; background-color: #FFFFFF;">进行前瞻</span><span
                    style="color: #333333; font-family: arial; text-align: justify; background-color: #FFFFFF;">性的<strong><span
                    style="font-family: arial; text-align: justify; background-color: #FFFFFF; color: #0070C0;">人力资源储备</span></strong></span>
            </p>

        </div>
    </div>
</div>
<div class="middle-box">
    <img class="left-bg" src="../image/wcrcxq/左底距上1240.png">
    <div class="content-box">
        <div class="category-list">
            <div data-categoryid="111" class="category-item">综合管理类</div>
            <div data-categoryid="222" class="category-item">行业研究类</div>
            <div data-categoryid="333" class="category-item">金融类</div>
            <div data-categoryid="444" class="category-item">招商运营类</div>
            <div data-categoryid="555" class="category-item">品牌策划类</div>
            <div data-categoryid="666" class="category-item">设计类</div>
            <div data-categoryid="777" class="category-item">工程类</div>
            <div data-categoryid="888" class="category-item">IT类</div>
        </div>
        <div class="employment-box" data-state="active" data-employmentid="666666">
            <div class="main">
                <div class="left-box">
                    <div class="title">硬件开发工程师</div>
                    <div class="need-box">
                        <div class="need" data-tag="salary">30-54万</div>
                        <div class="need">北京</div>
                        <div class="need">本科</div>
                        <div class="need">3年以上</div>
                        <div class="need">2020-12-27</div>
                    </div>
                </div>
                <div class="drop"></div>
                <div class="btn-up">投递简历
                    <input id="666"
                           type="file"
                           accept="application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                           onchange="preview(id)"/>
                </div>
            </div>
            <div class="more">
                <p><span style="font-family: 微软雅黑;color: #2E343B;letter-spacing: 0;font-size: 14px;background: #FFFFFF"><span
                        style="font-family:微软雅黑">岗位职责:</span></span></p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">1、完成软件系统代码的实现，编写代码注释和开发文档;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">2、辅助进行系统的功能定义,程序设计;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">3、根据设计文档或需求说明完成代码编写，调试，测试和维护;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">4</span><span
                        style="font-family: 微软雅黑; background-color: #FFFFFF; color: #2E343B; font-size: 14px; letter-spacing: 0px;">、分析并解决软件开发过程中的问题;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">5、协助测试工程师制定测试计划，定位发现的问题</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;"></span>
                </p>
                <p><span style="font-family: 微软雅黑;color: #2E343B;letter-spacing: 0;font-size: 14px;background: #FFFFFF"><span
                        style="font-family:微软雅黑">任职资格:</span></span></p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">1、计算机或相关专业本科学历以上；</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">2、2年以上软件开发经验;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">3、熟悉面向对象思想，精通编程，调试和相关技术;</span>
                </p>
                <p><span style="font-family: 微软雅黑;color: #2E343B;letter-spacing: 0;font-size: 14px;background: #FFFFFF">4、熟悉应用服务器的安装、调试、配置及使用;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;"></span>
                </p>
                <p><span style="font-family: 微软雅黑;color: #2E343B;letter-spacing: 0;font-size: 14px;background: #FFFFFF">5、具备需求分析和系统设计能力，、以及较强的逻辑分析和独立解决问题能力;</span>
                </p>
            </div>
        </div>

        <div class="employment-box">
            <div class="main">
                <div class="left-box">
                    <div class="title">招商总监</div>
                    <div class="need-box">
                        <div class="need" data-tag="salary">30-54万</div>
                        <div class="need">北京</div>
                        <div class="need">本科</div>
                        <div class="need">3年以上</div>
                        <div class="need">2020-12-27</div>
                    </div>
                </div>
                <div class="drop"></div>
                <div class="btn-up">投递简历<input id="777"
                                               type="file"
                                               accept="application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                               onchange="preview(id)"/></div>
            </div>
            <div class="more">
                <p><span style="font-family: 微软雅黑;color: #2E343B;letter-spacing: 0;font-size: 14px;background: #FFFFFF"><span
                        style="font-family:微软雅黑">岗位职责:</span></span></p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">1、完成软件系统代码的实现，编写代码注释和开发文档;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">2、辅助进行系统的功能定义,程序设计;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">3、根据设计文档或需求说明完成代码编写，调试，测试和维护;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">4</span><span
                        style="font-family: 微软雅黑; background-color: #FFFFFF; color: #2E343B; font-size: 14px; letter-spacing: 0px;">、分析并解决软件开发过程中的问题;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">5、协助测试工程师制定测试计划，定位发现的问题</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;"></span>
                </p>
                <p><span style="font-family: 微软雅黑;color: #2E343B;letter-spacing: 0;font-size: 14px;background: #FFFFFF"><span
                        style="font-family:微软雅黑">任职资格:</span></span></p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">1、计算机或相关专业本科学历以上；</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">2、2年以上软件开发经验;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">3、熟悉面向对象思想，精通编程，调试和相关技术;</span>
                </p>
                <p><span style="font-family: 微软雅黑;color: #2E343B;letter-spacing: 0;font-size: 14px;background: #FFFFFF">4、熟悉应用服务器的安装、调试、配置及使用;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;"></span>
                </p>
                <p><span style="font-family: 微软雅黑;color: #2E343B;letter-spacing: 0;font-size: 14px;background: #FFFFFF">5、具备需求分析和系统设计能力，、以及较强的逻辑分析和独立解决问题能力;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">6、能熟练阅读中文、英文技术文档；富有团队精神,责任感和沟通能力;</span>
                </p>
            </div>
        </div>
        <div class="employment-box">
            <div class="main">
                <div class="left-box">
                    <div class="title">招商总监</div>
                    <div class="need-box">
                        <div class="need" data-tag="salary">30-54万</div>
                        <div class="need">北京</div>
                        <div class="need">本科</div>
                        <div class="need">3年以上</div>
                        <div class="need">2020-12-27</div>
                    </div>
                </div>
                <div class="drop"></div>
                <div class="btn-up">投递简历<input id="888"
                                               type="file"
                                               accept="application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                               onchange="preview(id)"/></div>
            </div>
            <div class="more">
                <p><span style="font-family: 微软雅黑;color: #2E343B;letter-spacing: 0;font-size: 14px;background: #FFFFFF"><span
                        style="font-family:微软雅黑">岗位职责:</span></span></p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">1、完成软件系统代码的实现，编写代码注释和开发文档;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">2、辅助进行系统的功能定义,程序设计;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">3、根据设计文档或需求说明完成代码编写，调试，测试和维护;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">4</span><span
                        style="font-family: 微软雅黑; background-color: #FFFFFF; color: #2E343B; font-size: 14px; letter-spacing: 0px;">、分析并解决软件开发过程中的问题;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">5、协助测试工程师制定测试计划，定位发现的问题</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;"></span>
                </p>
                <p><span style="font-family: 微软雅黑;color: #2E343B;letter-spacing: 0;font-size: 14px;background: #FFFFFF"><span
                        style="font-family:微软雅黑">任职资格:</span></span></p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">1、计算机或相关专业本科学历以上；</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">2、2年以上软件开发经验;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">3、熟悉面向对象思想，精通编程，调试和相关技术;</span>
                </p>
                <p><span style="font-family: 微软雅黑;color: #2E343B;letter-spacing: 0;font-size: 14px;background: #FFFFFF">4、熟悉应用服务器的安装、调试、配置及使用;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;"></span>
                </p>
                <p><span style="font-family: 微软雅黑;color: #2E343B;letter-spacing: 0;font-size: 14px;background: #FFFFFF">5、具备需求分析和系统设计能力，、以及较强的逻辑分析和独立解决问题能力;</span>
                </p>
                <p><span
                        style="background-color: #FFFFFF; color: #2E343B; font-family: 微软雅黑; font-size: 14px; letter-spacing: 0px;">6、能熟练阅读中文、英文技术文档；富有团队精神,责任感和沟通能力;</span>
                </p>
            </div>
        </div>
    </div>
</div>
<img class="mid-bottom-pic" src="../image/wcrcxq/底1-320.png">

<div class="bottom-box">
    <div class="content-box">
        <div class="big-title">申请方式</div>
        <div class="link-box">
            <div class="link-item">
                <div class="key">电话:</div>
                <div>0635-8556625(任女士)</div>
            </div>
            <div class="link-item">
                <div class="key">邮箱:</div>
                <div>khcm@163.com</div>
            </div>
            <div class="link-item">
                <div class="key">地址:</div>
                <div>聊城市当代国际大厦16楼</div>
            </div>
            <div class="link-item">
                <div class="key">更多信息请关注文创聊城官网:</div>
                <div>http://www.wclccia.com</div>
            </div>
            <div class="link-item">
                <div class="key">或扫描下方二维码关注微信公众号【文创聊城】</div>
            </div>
            <div class="qr-box">
                <div class="qr-item">
                    <img src="../image/wcrcxq/二维码.png">
                </div>
                <div class="qr-item">
                    <img src="../image/wcrcxq/二维码.png">
                </div>
            </div>

        </div>

    </div>

</div>
<script src="../js/jq.js"></script>
<script src="../js/common.js"></script>
<script>
    // 初始化已选分类
    initCategoryActive();
    function initCategoryActive() {
        let cateId = '';
        if (window.location.search.indexOf('categoryid=') != -1) {
            cateId = document.location.search.substr(1).replace('categoryid=', '');
            console.log("cateId:", cateId)
        }

        if (cateId) {//无有效catergoryid
            let target = $('.category-list .category-item[data-categoryid=' + cateId + ']');
            if (target.length > 0) { //判断是否存在
                target.attr('data-state', 'active');
                target.siblings().attr('data-state', '');
                return;
            }
        }

        // 初始化第一个为active
        let first = $('.category-list .category-item').first();
        first.attr('data-state', 'active');
        first.siblings().attr('data-state', '');
    }
    // 分类点击事件
    $('.category-list .category-item').click(function () {
        $(this).attr('data-state', 'active');
        $(this).siblings().attr('data-state', '');
        console.log("跳转categoryid:", $(this).attr('data-categoryid'));
        let categoryId = $(this).attr('data-categoryid')
        window.location.href = '?categoryid=' + categoryId;

    })
    // 展开收起事件
    $('.employment-box .drop').click(function () {
        let employment = $($(this).parent()).parent();
        if (employment.attr('data-state') == 'active') {
            $(employment).attr('data-state', '');
            return;
        }
        $(employment).attr('data-state', 'active');
        $(employment).siblings().attr('data-state', '');
    })

    function preview(e) {
        let currentCateId = $('.category-list .category-item[data-state=active]').attr('data-categoryid');
        let currentEmploymentId = $('.employment-box[data-state=active]').attr('data-employmentid');
        console.log("提交文件:当前分类id--", currentCateId);
        console.log("提交文件:当前EmploymentId--", currentEmploymentId);
        console.log("e", e)
//        console.log($('#memberPhoto')[0].files[0], "onchange img", $('#memberPhoto')[0].value)
        // 添加请求头
        let file = $('#' + e)[0].files[0];
        if (!file) {
            return
        }
        let param = new FormData(); // 创建form对象
        param.append('file', file); // 通过append向form对象添加数据
        param.append('saveDir', 'file'); // 通过append向form对象添加数据
        let fileParams = param.get('file');

        if (parseInt(fileParams.size) > 10000000) {
            alert("上传文件不能大于10M")
            return
        }
//        $('.modal-backdrop').addClass('display:flex');
        $.ajax({
            url: "http://sdlccia.sdkhcm.com/:8081/upload/file",
            type: 'POST',
            cache: false,
            data: param,
            processData: false,
            contentType: false,
            dataType: "json",
            beforeSend: function () {
            },
            success: function (data) {
                console.log(data)
                if (data.code == '2000') {
                    $('#' + e).attr('data-url', data.data);
                    //todo 提交信息到后台
                    let resumeData = {
                        currentCateId,
                        currentEmploymentId,
                        url: data.data
                    }
//                    alert("上传成功")
                    submitResume(resumeData);
                } else {
//                    $('.modal-backdrop').addClass('display:none');
                    alert(data.message)
                }

            }
        });
    }
    /**
     * 投递简历
     */
    function submitResume(param) {
        $.ajax(
            {
                url: 'http://sdlccia.sdkhcm.com/api/companyApply',//todo:接口待修改
                data: JSON.stringify(param),
                type: 'POST',
                dataType: 'json',
                processData: false,
                contentType: 'application/json',
                success: function (res) {
                    console.log(res)
                    if (res.code == '2000') {
//                        $('.modal-backdrop').addClass('display:none');

                        alert("提交成功");
                    } else {
//                        $('.modal-backdrop').addClass('display:none');

                        alert(res.message || '提交失败');
                    }
                },
                error: function (error) {
//                    $('.modal-backdrop').addClass('display:none');
                    console.log(error)

                    alert('提交失败');
                }

            }
        );
    }

</script>
</body>

</html>