<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文创影像</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/wcyx.css">
   
</head>

<body>
    <header class="header-box">
        <div class="header-content plate-center">
            <div class="header-left">
                <img class="header-logo" src="" alt="">
                <div class="header-nav">
                    <a>首页</a>
                    <a>文创聊城</a>
                    <a>文创之声</a>
                    <a>文创党建</a>
                    <a>品牌文化</a>
                    <a>服务平台</a>
                    <a>会员单位</a>
                    <a>分支机构</a>
                    <a>文创影像</a>
                </div>
            </div>
            <div class="header-right">
                <div class="header-right-item">
                    <img src="" alt="">
                    <a href="">搜索</a>
                </div>
                <div class="header-right-item">
                    <img src="" alt="">
                    <a href="">会员申请</a>
                </div>
            </div>

        </div>

    </header>
    <main>
        <div class="media-select-box">
            <div data-state="close" class="select-box">
                <div class="select-top">
                    <div class="select-val">文创聊城</div>
                    <div class="select-icon">v</div>
                </div>
                <ul class="slelect-option-ui">
                    <li data-value="文创聊城1" class="select-option-li">文创聊城</li>
                    <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                    <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                    <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                    <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                    <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                    <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                    <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                    <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                </ul>
            </div>

        </div>
        <div class="media-list">
            <a class="media-item-box">
                <img class="media-img"
                    src="https://imgsrc.baidu.com/forum/w=580/sign=a66a34a7153853438ccf8729a312b01f/6f874a738bd4b31c1441537082d6277f9f2ff863.jpg"
                    alt="">
                <div class="media-info">
                    <div class="media-info-top">
                        <div>水城礼好</div>
                        <div>创意聊城</div>
                    </div>
                    <div class="media-info-content">
                        <div class="media-info-title">新年鼠年手工木板年画</div>
                        <div class="media-info-desc">智想未来</div>
                        <div class="media-info-fn">
                            <div>查看详情</div>
                            <div>查看相册</div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="media-item-box">
                <img class="media-img"
                    src="https://imgsrc.baidu.com/forum/w=580/sign=a66a34a7153853438ccf8729a312b01f/6f874a738bd4b31c1441537082d6277f9f2ff863.jpg"
                    alt="">
                <div class="media-info">
                    <div class="media-info-top">
                        <div>水城礼好</div>
                        <div>创意聊城</div>
                    </div>
                    <div class="media-info-content">
                        <div class="media-info-title">新年鼠年手工木板年画</div>
                        <div class="media-info-desc">智想未来</div>
                        <div class="media-info-fn">
                            <div>查看详情</div>
                            <div>查看相册</div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="media-item-box">
                <img class="media-img"
                    src="https://imgsrc.baidu.com/forum/w=580/sign=a66a34a7153853438ccf8729a312b01f/6f874a738bd4b31c1441537082d6277f9f2ff863.jpg"
                    alt="">
                <div class="media-info">
                    <div class="media-info-top">
                        <div>水城礼好</div>
                        <div>创意聊城</div>
                    </div>
                    <div class="media-info-content">
                        <div class="media-info-title">新年鼠年手工木板年画</div>
                        <div class="media-info-desc">智想未来</div>
                        <div class="media-info-fn">
                            <div>查看详情</div>
                            <div>查看相册</div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="media-item-box">
                <img class="media-img"
                    src="https://imgsrc.baidu.com/forum/w=580/sign=a66a34a7153853438ccf8729a312b01f/6f874a738bd4b31c1441537082d6277f9f2ff863.jpg"
                    alt="">
                <div class="media-info">
                    <div class="media-info-top">
                        <div>水城礼好</div>
                        <div>创意聊城</div>
                    </div>
                    <div class="media-info-content">
                        <div class="media-info-title">新年鼠年手工木板年画</div>
                        <div class="media-info-desc">智想未来</div>
                        <div class="media-info-fn">
                            <div>查看详情</div>
                            <div>查看相册</div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="media-item-box">
                <img class="media-img"
                    src="https://imgsrc.baidu.com/forum/w=580/sign=a66a34a7153853438ccf8729a312b01f/6f874a738bd4b31c1441537082d6277f9f2ff863.jpg"
                    alt="">
                <div class="media-info">
                    <div class="media-info-top">
                        <div>水城礼好</div>
                        <div>创意聊城</div>
                    </div>
                    <div class="media-info-content">
                        <div class="media-info-title">新年鼠年手工木板年画</div>
                        <div class="media-info-desc">智想未来</div>
                        <div class="media-info-fn">
                            <div>查看详情</div>
                            <div>查看相册</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </main>
    <script src="../js/jq.js"></script>
    <script>

        //select打开关闭事件
        $('body').on('click', '.select-top', function () {
            var state = $(this).parent().attr('data-state') === 'close' ? 'open' : 'close'
            $(this).parent().attr('data-state', state)
        })

        //全局监听关闭select
        $(document).click(function (e) {
            var _con = $('.select-box');   
            if (!_con.is(e.target) && _con.has(e.target).length === 0) { 
                $('.select-box').attr('data-state', 'close')
            }
        })

        //监听select option选择
        $('.slelect-option-ui li').click('click',function (e) {
            $('.select-box').attr('data-state', 'close')
            $(this).parent().parent().find('.select-top .select-val').text($(this).attr('data-value'))
        })

        
    </script>
</body>

</html>