<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文创影像</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/wcyx.css">

</head>

<body>
<div class="search-box" style="display: none">
    <div class="search-plate">
        <img class="clear" src="../image/close.png">
        <input id="searchInput" placeholder="请输入关键词">
        <div class="desc">按Enter键进行搜索后Esc键关闭</div>
        <div class="recommend-title">#推荐搜索#
        </div>
        <div class="search-tag-box">
            <div class="search-tag">协会大事记</div>
            <div class="search-tag">未来感</div>
            <div class="search-tag">理事单位</div>
            <div class="search-tag">童年茴香</div>
            <div class="search-tag">家乡美味</div>
        </div>
    </div>
</div>

<header class="header-box">
    <div class="header-content plate-center">
        <div class="header-left">
            <img class="header-logo" src="../image/logo.png" alt="">
            <div class="header-nav">
                <a href="index.html" class="active">首页</a>
                <a href="xhgk.html">文创聊城</a>
                <a href="wczs.html">文创之声</a>
                <a href="wcdj.html">文创党建</a>
                <a href="ppwh.html">品牌文化</a>
                <a href="fupt.html">服务平台</a>
                <a href="hydw.html">会员单位</a>
                <a href="fzjg.html">分支机构</a>
                <a href="wcyx.html">文创影像</a>
            </div>
        </div>
        <div class="header-right">
            <div id="searchBtn" class="header-right-item">
                <img src="../image/search.png" alt="">
                <a class="search">搜索</a>
            </div>
            <div class="header-right-item">
                <img src="../image/user.png" alt="">
                <a href="">会员申请</a>
            </div>
        </div>

    </div>
    <div class="top-line"></div>

</header>
<main>
    <div class="media-select-box">
        <div data-state="close" class="select-box">
            <div class="select-top">
                <div class="select-val">文创聊城</div>
                <div class="select-icon">v</div>
            </div>
            <ul class="slelect-option-ui">
                <li data-value="文创聊城1" class="select-option-li">文创聊城</li>
                <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                <li data-value="文创聊城" class="select-option-li">文创聊城</li>
                <li data-value="文创聊城" class="select-option-li">文创聊城</li>
            </ul>
        </div>

    </div>
    <div class="media-list">
        <a class="media-item-box">
            <img class="media-img"
                 src="https://imgsrc.baidu.com/forum/w=580/sign=a66a34a7153853438ccf8729a312b01f/6f874a738bd4b31c1441537082d6277f9f2ff863.jpg"
                 alt="">
            <div class="media-info">
                <div class="media-info-top">
                    <div>水城礼好</div>
                    <div>创意聊城</div>
                </div>
                <div class="media-info-content">
                    <div class="media-info-title">新年鼠年手工木板年画</div>
                    <div class="media-info-desc">智想未来</div>
                    <div class="media-info-fn">
                        <div>查看详情</div>
                        <div>查看相册</div>
                    </div>
                </div>
            </div>
        </a>
        <a class="media-item-box">
            <img class="media-img"
                 src="https://imgsrc.baidu.com/forum/w=580/sign=a66a34a7153853438ccf8729a312b01f/6f874a738bd4b31c1441537082d6277f9f2ff863.jpg"
                 alt="">
            <div class="media-info">
                <div class="media-info-top">
                    <div>水城礼好</div>
                    <div>创意聊城</div>
                </div>
                <div class="media-info-content">
                    <div class="media-info-title">新年鼠年手工木板年画</div>
                    <div class="media-info-desc">智想未来</div>
                    <div class="media-info-fn">
                        <div>查看详情</div>
                        <div>查看相册</div>
                    </div>
                </div>
            </div>
        </a>
        <a class="media-item-box">
            <img class="media-img"
                 src="https://imgsrc.baidu.com/forum/w=580/sign=a66a34a7153853438ccf8729a312b01f/6f874a738bd4b31c1441537082d6277f9f2ff863.jpg"
                 alt="">
            <div class="media-info">
                <div class="media-info-top">
                    <div>水城礼好</div>
                    <div>创意聊城</div>
                </div>
                <div class="media-info-content">
                    <div class="media-info-title">新年鼠年手工木板年画</div>
                    <div class="media-info-desc">智想未来</div>
                    <div class="media-info-fn">
                        <div>查看详情</div>
                        <div>查看相册</div>
                    </div>
                </div>
            </div>
        </a>
        <a class="media-item-box">
            <img class="media-img"
                 src="https://imgsrc.baidu.com/forum/w=580/sign=a66a34a7153853438ccf8729a312b01f/6f874a738bd4b31c1441537082d6277f9f2ff863.jpg"
                 alt="">
            <div class="media-info">
                <div class="media-info-top">
                    <div>水城礼好</div>
                    <div>创意聊城</div>
                </div>
                <div class="media-info-content">
                    <div class="media-info-title">新年鼠年手工木板年画</div>
                    <div class="media-info-desc">智想未来</div>
                    <div class="media-info-fn">
                        <div>查看详情</div>
                        <div>查看相册</div>
                    </div>
                </div>
            </div>
        </a>
        <a class="media-item-box">
            <img class="media-img"
                 src="https://imgsrc.baidu.com/forum/w=580/sign=a66a34a7153853438ccf8729a312b01f/6f874a738bd4b31c1441537082d6277f9f2ff863.jpg"
                 alt="">
            <div class="media-info">
                <div class="media-info-top">
                    <div>水城礼好</div>
                    <div>创意聊城</div>
                </div>
                <div class="media-info-content">
                    <div class="media-info-title">新年鼠年手工木板年画</div>
                    <div class="media-info-desc">智想未来</div>
                    <div class="media-info-fn">
                        <div>查看详情</div>
                        <div>查看相册</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</main>
<!-- footer -->
<div class="foot-bg"></div>
<div class="foot-container">
    <div class="plate-center foot-content">
        <div class="foot-left">
            <img class="foot-logo" src="../image/footimg/ft-logo.png" alt="">
            <div foot-left-info>
                <p>聊城市文化创意产业协会</p>
                <p>聊城市文化创意产业公共服务平台</p>
                <p>C20城市文创产业合作发展联盟合作单位</p>
            </div>
        </div>
        <div class="foot-center">
            <div class="foot-link">
                <div class="foot-title">友情链接</div>
                <div class="foot-link-item-box">

                    <div id="menu1" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                    <div id="menu2" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                    <div id="menu3" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="foot-center-info">
                <div class="foot-center-info-item">
                    <p class="foot-title">指导单位</p>
                    <ul>
                        <li>
                            <span>中共聊城市委宣传部</span>
                        </li>
                        <li>
                            <span> 聊城市文化和旅游局</span>
                        </li>
                        <li><span>聊城市民政局(社会组织管理中心)</span></li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>聊城市文化创意产业协会</span>
                        </li>
                    </ul>
                    <p class="foot-title">承办单位</p>
                    <ul>
                        <li>
                            <span>秘书处.云上融媒中心</span>
                        </li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>山东康华传媒有限公司</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="foot-right">
            <div class="foot-address">中国
                <div style="font-size: 36px;text-align: center;line-height: 28px;color:#fff;margin: -1px 3px;">·</div>
                聊城经济技术开发区当代国际大厦16楼
            </div>
            <ul>
                <li>
                    <span>电话：</span>
                    <span>0635-8256026  8256022</span>
                </li>
                <li>
                    <span>邮箱：</span>
                    <span> sdlccia@163.com</span>
                </li>
                <li><span>http://www.sdlccia.com</span></li>
            </ul>
            <div class="foot-qrcode">
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方公众号</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方微博</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方视频号</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="website-records">
    <p>
        <span>Copyright © 2020－2030</span> 聊城市文化创意产业协会所有
        <span>· All Rights Reserved </span> 鲁ICP备
        <span>2020045966号-1</span>
        <img src="../image/footimg/record.png" alt=""> 鲁公网安备
        <sapn>11010502000728</sapn>
    </p>
</div>
<script src="../js/jq.js"></script>
<script src="../js/common.js"></script>
<script>

    //select打开关闭事件
    $('body').on('click', '.select-top', function () {
        var state = $(this).parent().attr('data-state') === 'close' ? 'open' : 'close'
        $(this).parent().attr('data-state', state)
    })

    //全局监听关闭select
    $(document).click(function (e) {
        var _con = $('.select-box');
        if (!_con.is(e.target) && _con.has(e.target).length === 0) {
            $('.select-box').attr('data-state', 'close')
        }
    })

    //监听select option选择
    $('.slelect-option-ui li').click('click', function (e) {
        $('.select-box').attr('data-state', 'close')
        $(this).parent().parent().find('.select-top .select-val').text($(this).attr('data-value'))
    })


</script>
</body>

</html>