<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=0, maximum-scale=1, minimum-scale=0, user-scalable=yes">
    <title>文创聊城</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <script src="../js/swiper.min.js"></script>
    <style>
        body {
            min-width: 1400px;
            padding-top: 85px;
        }

        .top {
            width: 1400px;
            padding: 70px 0;
            margin: 0 auto;
            height: 365px;
            display: flex;
            justify-content: space-between;
        }

        .top .left-img img {
            width: 670px;
            height: 360px;
        }

        .top-right {
            width: 670px;
            margin-top: 30px;
        }

        .right-title {
            font-size: 36px;
            color: #262626;
            line-height: 36px;
        }

        .right-title-eng {
            color: #bfbfbf;
            font-size: 16px;
            margin-top: 20px;
        }

        .right-line {
            width: 60px;
            height: 3px;
            background: #0066B0;
            margin-top: 30px;
        }

        .right-bottom-title {
            color: #dd4400;
            font-size: 18px;
            font-weight: bold;
            margin-top: 30px;
            line-height: 1;
        }

        .right-bottom-text {
            font-size: 16px;
            color: #333333;
            margin-top: 15px;
            line-height: 30px;
        }

        /*top end*/
        .conter-box {
            width: 100%;
            background: #F7F7F7;
        }

        .center {
            width: 1400px;
            padding: 70px 0;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }

        .center-left {
            line-height: 30px;
            font-size: 16px;
            color: #333333;
            width: 670px;
            margin-top: 30px;
        }

        .center .center-right {

        }

        .center-right > img {
            width: 670px;
            height: 610px;
            display: block;
            object-fit: cover;
        }

        .bottom {
            padding: 70px 0 0px 0;
            width: 1400px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }

        .bottom-left > img {
            width: 670px;
            height: 360px;
            display: block;
            object-fit: cover;
        }

        .bottom .bottom-right {
            width: 670px;
            padding-top: 30px;
        }

        .subtitle {
            color: #dd4400;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.5;
        }

        .center-right-item3 {
            font-size: 16px;
            color: #333333;
            margin-top: 15px;
            line-height: 30px;
        }

    </style>
</head>

<body>
<div class="search-box" style="display: none">
    <div class="search-plate">
        <img class="clear" src="../image/close.png">
        <input id="searchInput" placeholder="请输入关键词">
        <div class="search-desc">按Enter键进行搜索后Esc键关闭</div>
        <div class="recommend-title">#推荐搜索#
        </div>
        <div class="search-tag-box">
            <div class="search-tag">协会大事记</div>
            <div class="search-tag">未来感</div>
            <div class="search-tag">理事单位</div>
            <div class="search-tag">童年茴香</div>
            <div class="search-tag">家乡美味</div>
        </div>
    </div>
</div>

<header class="header-box">
    <div class="header-content plate-center">
        <div class="header-left">
            <img class="header-logo" src="../image/logo.png" alt="">
            <div class="header-nav">
                <a href="index.html">首页</a>
                <a href="xhgk.html" class="active">文创聊城</a>
                <a href="wczs.html">文创之声</a>
                <a href="wcdj.html">文创党建</a>
                <a href="ppwh.html">品牌文化</a>
                <a href="gxptfw.html">服务平台</a>
                <a href="hydw.html">会员单位</a>
                <a href="fzjg.html">分支机构</a>
                <a href="wcyx.html">文创影像</a>
            </div>
        </div>
        <div class="header-right">
            <div id="searchBtn" class="header-right-item">
                <img src="../image/search.png" alt="">
                <a class="search">搜索</a>
            </div>
            <div class="header-right-item">
                <img src="../image/user.png" alt="">
                <a href="">会员申请</a>
            </div>
        </div>

    </div>
    <div class="top-line"></div>

</header>

<div class="top-banner-box">
    <div class="top-banner-title">文创聊城</div>
    <div class="top-banner-line"></div>
    <div class="top-banner-desc">INFORMATION</div>
</div>

<div class="top-nav-box">
    <div class="plate-center">
        <div class="top-nav">
            <a href="xhgk.html" class="top-nav-item-active">协会概况</a>
            <a href="xhjg.html" class="top-nav-item">协会架构</a>
            <a href="leader.html" class="top-nav-item">协会领导</a>
            <a href="wczk.html" class="top-nav-item">文创智库</a>
            <a href="fzlc.html" class="top-nav-item">发展历程</a>
            <a href="xxgk.html" class="top-nav-item">信息公开</a>
        </div>
    </div>
</div>
<div class="content">

    <div class="top">
        <div class="left-img">
            <img src="../image/概况-1.png">
        </div>

        <div class="top-right">
            <div class="right-title">聊城市文化创意产业协会</div>
            <div class="right-title-eng">LIAOCHENG CHENG SHI WEN HUA</div>
            <div class="right-line"></div>
            <div class="right-bottom-title">文创聊城，美好生活</div>
            <div class="right-bottom-text">
                聊城市文化创意产业协会是聊城文化创意产业唯一的行业性、服务性、非营利性市级社会团体组织,筑造和构建跨越政、商、学界的文化创意产业综合性公共服务平台,在中共聊城市委宣·传部、聊城市文化和旅游局的指导下,集约整合产业资源,积极引导和高效促进企业之间、政企之间、城市之间、行业之间全方位多层次的沟通交流、研学实践、协同创新、产业合作。
            </div>
        </div>
    </div>
    <div class="conter-box">
        <div class="center">
            <div class="center-left">聊城市文化创意产业协会由山东康华传媒有限公司等主要发起,经聊城市民政局核准登记,2015年08月12日召开成立大会暨首届会员大会,
                2018年11月02日召开第二届换届选举会员大会。目前汇聚全市从事出版传媒、创意设计、智慧印刷、影视动画、演艺娱乐、文博非遗、数字科技、传统文化、工艺美术、文化融合(文化旅游、文化教育、文化体育、文化金融)、基地园区以及文化制造与会展商贸等行业成员单位150余家,筹备成立夜间经济促进委员会等产业分支机构10个。聊城市文化创意产业协会为C20城市文创产业合作发展联盟成员单位,与深圳、上海、广州、长沙、武汉、西安、山东等省市文化创意产(行)业协会,以及人民日报文创、中国文化产业园区联盟、环球网校创意经济学院、烽火文化创意中心、山东大学文化产业研究院、济南大学文化和旅游学院、聊城大学等单位和高校建立了良好的沟通交流渠道、互动合作关系。聊城市文化创意产业协会秉持“双创双服”初心使命,专注于社会效益,积极发挥协会资源优势和职能作用,着力展现文化创意产业发展的“推介者”“引领者"“服务者”不同角色担当,创新发展思路,深耕聊城文化资源创意性转化、品牌化推广、产业化发展,引领带动成员单位发展可行性文化创意产业项目,提供高品质产品与服务,培育文化创意新业态、新模式、新技术、新产业,从商业模式到产品质量不断优化提升,助力文化创意产业新旧动能转换,推动全市文化、创意和旅游产业高质量融合发展,为实现聊城在全省“争创一流,走在前列"的奋斗目标,贡献产业协会的独特智慧和新生力量。
            </div>
            <div class="center-right">
                <img src="../image/概况-2.png">
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-left">
            <img src="../image/概况-3.png">
        </div>
        <div class="bottom-right">
            <div class="subtitle">创意文化新动能,创建产业新高地</div>
            <div class="subtitle">服务于产业发展,服务于会员单位</div>
            <div class="center-right-item3">
                聊城市文化创意产业协会秉持“双创双服”初心使命,专注于社会效益,积极发挥协会资源优势和职能作用,着力展现文化创意产业发展的“推介者"“引领者"“服务者”不同角色担当,创新发展思路,深耕聊城文化资源创意性转化、品牌化推广、产业化发展,引领带动成员单位发展可行性文化创意产业项目,提供高品质产品与服务,培育文化创意新业态、新模式、新技术、新产业,从商业模式到产品质量不断优化提升,助力文化创意产业新旧动能转换,推动全市文化、创意和旅游产业高质量融合发展,为实现聊城在全省“争创一流,走在前列"的奋斗目标,贡献产业协会的独特智慧和新生力量。
            </div>
        </div>
    </div>

</div>
<!-- footer -->
<div class="foot-bg"></div>
<div class="foot-container">
    <div class="plate-center foot-content">
        <div class="foot-left">
            <img class="foot-logo" src="../image/footimg/ft-logo.png" alt="">
            <div foot-left-info>
                <p>聊城市文化创意产业协会</p>
                <p>聊城市文化创意产业公共服务平台</p>
                <p>C20城市文创产业合作发展联盟合作单位</p>
            </div>
        </div>
        <div class="foot-center">
            <div class="foot-link">
                <div class="foot-title">友情链接</div>
                <div class="foot-link-item-box">

                    <div id="menu1" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                    <div id="menu2" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                    <div id="menu3" class="foot-link-item">
                        <div class="link-txt">文化和旅游政府部分官网</div>
                        <img src="../image/footimg/down-arrow.png" alt="">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                            <li>
                                <a href="http://www.fmprc.gov.cn" target="_blank" title="外交部">外交部</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="foot-center-info">
                <div class="foot-center-info-item">
                    <p class="foot-title">指导单位</p>
                    <ul>
                        <li>
                            <span>中共聊城市委宣传部</span>
                        </li>
                        <li>
                            <span> 聊城市文化和旅游局</span>
                        </li>
                        <li><span>聊城市民政局(社会组织管理中心)</span></li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>聊城市文化创意产业协会</span>
                        </li>
                    </ul>
                    <p class="foot-title">承办单位</p>
                    <ul>
                        <li>
                            <span>秘书处.云上融媒中心</span>
                        </li>
                    </ul>
                </div>
                <div class="foot-center-info-item">
                    <p class="foot-title">主办单位</p>
                    <ul>
                        <li>
                            <span>山东康华传媒有限公司</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="foot-right">
            <div class="foot-address">中国
                <div style="font-size: 36px;text-align: center;line-height: 28px;color:#fff;margin: -1px 3px;">·</div>
                聊城经济技术开发区当代国际大厦16楼
            </div>
            <ul>
                <li>
                    <span>电话：</span>
                    <span>0635-8256026 8256022</span>
                </li>
                <li>
                    <span>邮箱：</span>
                    <span> sdlccia@163.com</span>
                </li>
                <li><span>http://www.sdlccia.com</span></li>
            </ul>
            <div class="foot-qrcode">
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方公众号</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方微博</span>
                </div>
                <div class="qrcode-box">
                    <img src="../image/footimg/ft-qrcode.png" alt="">
                    <span>官方视频号</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="website-records">
    <p>
        <span>Copyright © 2020－2030</span> 聊城市文化创意产业协会所有
        <span>· All Rights Reserved </span> 鲁ICP备
        <span>2020045966号-1</span>
        <img src="../image/footimg/record.png" alt=""> 鲁公网安备
        <sapn>11010502000728</sapn>
    </p>
</div>
<script src="../js/jq.js"></script>
<script src="../js/common.js"></script>
<script>

</script>

</body>

</html>